@import 'src/assets/styles/app.scss';
.left-layout-wrapper {
  background-color: white;
  height: 100%;
  padding: 1em 0.5em;
  // Commented on 2/24/2020
  // padding-bottom: 1em;
  position: relative;
  text-align: center;

  .left-size-toggle-action-expanded {
    text-align: right;
  }

  .client-details {
    width: 3rem;
    height: 3rem;
    margin: 1rem auto;
    transition: all 0.3s ease-in-out;

    &.expanded {
      position: absolute;
      right: 0.5rem;
      top: 3.5rem;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .feature-description {
    padding-left: 3em;
    text-align: left;

    .caption-large {
      font-weight: 400;
      font-size: 35px;
      margin-bottom: 0.5em;
    }

    hr {
      border: 2px solid;
      width: 30px;
      margin: 0.5em 0 0;

      &.insights-underline {
        border-color: #005587;
      }

      &.imagine-underline {
        border-color: #0097a9;
      }

      &.deliver-underline {
        border-color: rgb(198, 215, 12);
      }

      &.run-underline {
        border-color: rgb(134, 188, 37);
      }
    }
  }

  .feature-image {
    margin-top: 43%;
    position: relative;
  }

  .caption-small {
    font-weight: 500;
    font-size: 18px;
  }

  .feature-image-expanded {
    position: relative;
    padding: 3em;

    img {
      display: block;
      height: 100%;
      width: 100%;
    }

  }

  // .left-container{
  //   text-align: initial;
  //   font-size: 14px;


  //   .left-heading{
  //     padding-top: 1.5em;
  //     padding-bottom: 0.5em;
  //     color: white;
  //     padding-left: 1em;

  //     .heading{
  //       font-weight: 600;

  //     }
  //   }
  //   .left-body{

  //     padding-left: 1em;

  //     .caption{
  //       display: flex;
  //       margin-bottom: 1em;
  //       .caption-num{
  //         font-weight: 700;
  //         margin-right: 0.5em;
  //         font-size: 22px;
  //       }
  //     }
  //   }
  // }

}
