<form class="project-add-edit-form-wrapper planning-tab">
    <mat-tab-group>
        <mat-tab *ngFor="let element of savedPhasePlanning;let i=index" [label]="element.phaseName">
            <ng-template matTabContent>
                <div class="form-5-field country-dd">
                    <mat-label>Country</mat-label>
                    <mat-form-field appearance="outline" floatLabel="never">
                        <mat-select multiple [name]="'countries'+i" [(ngModel)]="element.countries">
                            <mat-option *ngFor="let item of countryMasterList" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-5-field">
                    <!-- <span class="required-asterisk">*</span> -->
                    <mat-label> Start Date</mat-label>
                    <mat-form-field appearance="outline" floatLabel="never">
                        <input required matInput [matDatepicker]="startPicker" [name]="'startDate'+i"
                            [(ngModel)]="element.startDate">
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="form-5-field">
                    <!-- <span class="required-asterisk">*</span> -->
                    <mat-label> End Date</mat-label>
                    <mat-form-field appearance="outline" floatLabel="never">
                        <input required [matDatepicker]="endPicker" matInput [name]="'endDate'+i"
                            [(ngModel)]="element.endDate">
                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <mat-error *ngIf="deleteErrorMsg">Each phase should have atleast one or more tables.</mat-error>
                <div *ngFor="let table of element?.tableDetails;let k=index" class="table-planning-wrapper">                    
                    <span>
                        <mat-label>Phase {{element.phaseName}} - Selected Country</mat-label>
                        <mat-form-field appearance="outline" style="margin-left:0.5em;width:350px;display: inline-block;">
                            <mat-select multiple 
                                [(value)]="table.tablecountries">
                                <mat-option *ngFor="let item of element?.countries" [value]="item">{{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                    <div class="planning-form-actions">
                        <img src="../../../../../../assets/images/Plus_POS.svg" (click)="addTable(i, k)">
                        <img src="../../../../../../assets/ProjectDeleteLogo.png" (click)="removeTable(i, k)">
                        <img class="img-control" src="../../../../../../assets/images/maximize.png"
                            (click)="changeView(maximize,minimize)" #maximize>
                        <img class="img-control visible" src="../../../../../../assets/images/minimize.png"
                            (click)="changeView(maximize,minimize)" #minimize>
                    </div>
                    <div class="phase-planning-table">
                        <table *ngIf="minimize?.classList?.contains('visible')">
                            <tr>
                                <th colspan="3">
                                    <mat-label>Filter by Business Process L1</mat-label>
                                    <mat-form-field appearance="outline" style="width:300px">
                                        <mat-select multiple #filter>
                                            <mat-option *ngFor="let item of filterProcesses" [value]="item">
                                                {{item}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </th>
                    
                                <th *ngFor="let package of packageList">
                                    <span>{{package}}</span>
                                </th>
                            </tr>
                    
                            <!-- <tr>
                                                <td style="text-align: left; background-color: rgb(190, 190, 190); width:10px;">L1</td>
                                                <td style="text-align: left; background-color: rgb(190, 190, 190); width:100px">L2</td>
                                                <td style="text-align: left; background-color: rgb(190, 190, 190); width:120px;">L3</td>
                                                <th style="text-align: center; background-color: rgb(190, 190, 190);"
                                                    *ngFor="let package of packageList">
                                                    <mat-label>{{package}}</mat-label>
                                                </th>
                                            </tr> -->
                            <tbody class="scroll-table">
                                <ng-container *ngFor="let tabRow of table?.tableRowEntries">
                                    <ng-container *ngIf="(filter?.value?.length == 0) || filter?.value?.indexOf(tabRow.l1Value) != -1">
                                        <tr *ngFor="let level of tabRow.l1Group">
                                            <td>{{tabRow.l1Value}}</td>
                                            <td>{{level.l2Value}}</td>
                                            <td>{{level.l3Value}}</td>
                                            <td *ngFor="let package of level?.packageDetails;let j=index">
                                                <mat-form-field appearance="outline" floatLabel="never">
                                                    <mat-select multiple [(value)]="package.modules">
                                                        <mat-option *ngFor="let module of package.allModules" [value]="module">{{module}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</form>