.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #007680;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.technology-scope {
  table {
    width: 100%;
  }

  th,
  td {
    border: 1px solid #000;
    width: 100%;
    min-width: 50px;
    white-space: nowrap;
  }
}

.phase-items-div {
  // max-height: 290px;
  // overflow: auto;

  table.phase-items-table {
    width: 100%;
    padding-top: 1%;
    border-collapse: collapse;
    margin: auto;

    th {
      // text-align: left;
      // background-color: rgb(190, 190, 190);
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #007680;
      color: #ffffff;

      mat-label {
        display: inline-block;
        margin-right: 0.5em;
      }

      .mat-form-field {
        display: inline-block;
      }
    }

    th,
    td {
      max-width: 140px;
      text-align: left;
      padding: 0.4em;
      vertical-align: baseline;
      font-weight: normal;
      border: none;
    }    
  }
  mat-label {
    font-size: 12px !important;
  }
}

.planning-tab {
  font-size: 12px;

  .table-planning-wrapper {
    width: 96%;
    // overflow: auto;
    // border: 1px solid #000000;
    padding: 1em;
    margin-bottom: 10px;
    min-height: 25px;
    // max-height: 320px;
    // background-color: rgb(228, 228, 228);
    overflow-y: hidden;

    th:nth-child(2),
    td:nth-child(2),
    th:nth-child(3),
    td:nth-child(3) {
      // Business process L2, L3 column width
      max-width: 250px;
    }
  }

  .planning-form-actions {
    margin-left: auto;
    float: right;

    img {
      width: 25px;
      cursor: pointer;
      vertical-align: middle;
      margin-left: 10px;

      &.img-control {
        display: none;
        width: auto;

        &.visible {
          display: inline;
        }
      }
    }
  }

  .scroll-table {
    height: 100px;
    overflow: auto;
  }

  .country-dd .mat-select {
    padding-top: 0.4em;
  }

  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0px !important;
    }

    .mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix input {
      font-size: 12px !important;
    }

    mat-select .mat-select-value-text {
      font-size: 12px !important;
    }

    .mat-tab-group.mat-primary .mat-ink-bar {
      background-color: #000000 !important;
    }

    .mat-tab-label {
      opacity: 100% !important;
      height: 30px;
    }
  }
}

.more-button {
  float: right;
  margin: 9px !important;
  margin-left: 30px;
  border-radius: 0;
  background-color: #141313;
  font-weight: bold;
}
.review-edit-img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}
ul.review-screen-list{
  margin: 0;
  padding: 0;
  list-style: none;
}