svg{
  padding-top: 5rem;
}
#sense_off:hover{
  display: none;
}
#sense_off:hover + #sense_on{
  display: block;
}
#sense_on:hover{
  display: block;
  cursor: pointer;
}
#define_off:hover{
  display: none;
}
#define_off:hover + #define_on{
  display: block;
}
#define_on:hover{
  display: block;
  cursor: pointer;
}
#define_dig_off:hover{
  display: none;
}
#define_dig_off:hover + #define_dig_on{
  display: block;
}
#define_dig_on:hover{
  display: block;
  cursor: pointer;
}
#establish_off:hover{
  display: none;
}
#establish_off:hover + #establish_on{
  display: block;
}
#establish_on:hover{
  display: block;
  cursor: pointer;
}

