<!-- <h3 *ngIf="comingSoon">
    Coming soon....
</h3> -->
<div class="feature" *ngIf="tabData">
    <div *ngIf="tabData[0]?.tabContent?.length > 0">
        <div class="tab-body">
            <mat-accordion multi="true" class="sub-accordian">
                <mat-expansion-panel *ngFor="let level1 of tabData[0].tabContent" [disabled]="isLastLevel(level1)">
                    <mat-expansion-panel-header class="center" [ngStyle]="getLevelColor(level1.l1_enabledflag)">
                        <div class="header-2">{{ level1.l1_value }}</div>
                        <div class="header-type" *ngIf="attributePresent(1, 'l1_attribute1')">
                            {{level1.l1_attribute1}}</div>
                        <div class="header-type" *ngIf="attributePresent(1, 'l1_attribute2')">
                            {{level1.l1_attribute2}}</div>
                        <div class="header-type" *ngIf="attributePresent(1, 'l1_attribute3')">
                            {{level1.l1_attribute3}}</div>
                        <div class="header-type" *ngIf="attributePresent(1, 'l1_attribute4')">
                            {{level1.l1_attribute4}}</div>
                        <div class="header-type" *ngIf="attributePresent(1, 'l1_attribute5')">
                            {{level1.l1_attribute5}}</div>
                        <div class="document-button" *ngIf="level1.l1_doclink">
                            <button mat-flat-button class="tab-button">
                                <img class="file-btn" src="../../../assets/File_DOC_POS.svg"
                                    (click)="preview(level1.l1_doclink)" />
                            </button>
                        </div>

                        <div *ngIf="view == 'PROJECT' && contentLevel >= 1" class="add-cart-button">
                            <button (click)="buttonClicked(level1, level1, level1.l1_enabledflag, 'N')" mat-flat-button
                                class="tab-button">
                                <img *ngIf="level1.l1_enabledflag == 'Y'" src="../../../assets/Cross_POS.svg" />
                                <img *ngIf="level1.l1_enabledflag == 'N'" src="../../../assets/Plus_POS.svg" />
                                <strong> {{ getToggleButtonLabel( level1.l1_enabledflag, 1, level1.l1_doclink) }}
                                </strong>
                            </button>
                        </div>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                        <!-- L2 level -->
                        <mat-accordion multi="true" class="sub-accordian" *ngIf="level1?.l2_group">
                            <mat-expansion-panel *ngFor="let level2 of level1?.l2_group"
                                [disabled]="isLastLevel(level2)" [expanded]="!level2?.l3_group">
                                <mat-expansion-panel-header class="center"
                                    [ngStyle]="getLevelColor(level2.l2_enabledflag)">
                                    <div class="header-2" [ngClass]="{'last-level': !(level2.l3_group)}">
                                        {{level2.l2_value}}</div>
                                    <div class="header-type" *ngIf="attributePresent(2, 'l2_attribute1')">
                                        {{level2.l2_attribute1}}</div>
                                    <div class="header-type" *ngIf="attributePresent(2, 'l2_attribute2')">
                                        {{level2.l2_attribute2}}</div>
                                    <div class="header-type" *ngIf="attributePresent(2, 'l2_attribute3')">
                                        {{level2.l2_attribute3}}</div>
                                    <div class="header-type" *ngIf="attributePresent(2, 'l2_attribute4')">
                                        {{level2.l2_attribute4}}</div>
                                    <div class="header-type" *ngIf="attributePresent(2, 'l2_attribute5')">
                                        {{level2.l2_attribute5}}</div>
                                    <div class="document-button" *ngIf="level2.l2_doclink">
                                        <button mat-flat-button class="tab-button">
                                            <img class="file-btn" src="../../../assets/File_DOC_POS.svg"
                                                (click)="preview(level2.l2_doclink)" />
                                        </button>
                                    </div>

                                    <div *ngIf="view == 'PROJECT' && contentLevel >= 2" class="add-cart-button">
                                        <button (click)="buttonClicked(level1, level2, level2.l2_enabledflag, 'Y')"
                                            mat-flat-button class="tab-button">
                                            <img *ngIf="level2.l2_enabledflag == 'Y'"
                                                src="../../../assets/Cross_POS.svg" />
                                            <img *ngIf="level2.l2_enabledflag == 'N'"
                                                src="../../../assets/Plus_POS.svg" />
                                            <strong>
                                                {{ getToggleButtonLabel( level2.l2_enabledflag, 2, level2.l2_doclink) }}
                                            </strong>
                                        </button>
                                    </div>
                                </mat-expansion-panel-header>

                                <ng-template matExpansionPanelContent>
                                    <div class="header-description" *ngIf="attributePresent(2, 'l2_description')">
                                        {{level2?.l2_description}}</div>
                                    <!-- L3 level -->
                                    <mat-accordion multi="true" class="sub-accordian" *ngIf="level2?.l3_group">
                                        <mat-expansion-panel *ngFor="let level3 of level2?.l3_group"
                                            [disabled]="isLastLevel(level3)" [expanded]="!level3?.l4_group">
                                            <mat-expansion-panel-header class="center"
                                                [ngStyle]="getLevelColor(level3.l3_enabledflag)">
                                                <div class="header-2" [ngClass]="{'last-level': !(level3.l4_group)}">
                                                    {{level3.l3_value}}</div>
                                                <div class="header-type" *ngIf="attributePresent(3, 'l3_attribute1')">
                                                    {{level3.l3_attribute1}}</div>
                                                <div class="header-type" *ngIf="attributePresent(3, 'l3_attribute2')">
                                                    {{level3.l3_attribute2}}</div>
                                                <div class="header-type" *ngIf="attributePresent(3, 'l3_attribute3')">
                                                    {{level3.l3_attribute3}}</div>
                                                <div class="header-type" *ngIf="attributePresent(3, 'l3_attribute4')">
                                                    {{level3.l3_attribute4}}</div>
                                                <div class="header-type" *ngIf="attributePresent(3, 'l3_attribute5')">
                                                    {{level3.l3_attribute5}}</div>
                                                <div class="document-button" *ngIf="level3.l3_doclink">
                                                    <button mat-flat-button class="tab-button">
                                                        <img class="file-btn" src="../../../assets/File_DOC_POS.svg"
                                                            (click)="preview(level3.l3_doclink)" />
                                                    </button>
                                                </div>
                                                <div *ngIf="view == 'PROJECT' && contentLevel >= 3"
                                                    class="add-cart-button last-level-placeholder">
                                                    <button
                                                        (click)="buttonClicked(level1, level3, level3.l3_enabledflag, 'Y')"
                                                        mat-flat-button class="tab-button">
                                                        <img *ngIf="level3.l3_enabledflag == 'Y'"
                                                            src="../../../assets/Cross_POS.svg" />
                                                        <img *ngIf="level3.l3_enabledflag == 'N'"
                                                            src="../../../assets/Plus_POS.svg" />
                                                        <strong>
                                                            {{ getToggleButtonLabel( level3.l3_enabledflag, 3, level3.l3_doclink) }}
                                                        </strong>
                                                    </button>
                                                </div>
                                            </mat-expansion-panel-header>

                                            <ng-template matExpansionPanelContent>
                                                <div class="header-description"
                                                    *ngIf="attributePresent(3, 'l3_description')">
                                                    {{level3.l3_description}}</div>
                                                <ng-container *ngFor="let level4 of level3?.l4_group">
                                                    <hr />
                                                    <div class="heading-3"
                                                        [ngStyle]="getLevelColor(level4.l4_enabledflag)">
                                                        <div class="title">{{level4.l4_value}}</div>
                                                        <div class="title-type"
                                                            *ngIf="attributePresent(4, 'l4_attribute1')">
                                                            {{level4.l4_attribute1}}</div>
                                                        <div class="title-type"
                                                            *ngIf="attributePresent(4, 'l4_attribute2')">
                                                            {{level4.l4_attribute2}}</div>
                                                        <div class="title-type"
                                                            *ngIf="attributePresent(4, 'l4_attribute3')">
                                                            {{level4.l4_attribute3}}</div>
                                                        <div class="title-type"
                                                            *ngIf="attributePresent(4, 'l4_attribute4')">
                                                            {{level4.l4_attribute4}}</div>
                                                        <div class="title-type"
                                                            *ngIf="attributePresent(4, 'l4_attribute5')">
                                                            {{level4.l4_attribute5}}</div>
                                                        <div></div>
                                                        <div class="document-button" *ngIf="level4.l4_doclink">
                                                            <button mat-flat-button class="tab-button">
                                                                <img class="file-btn"
                                                                    src="../../../assets/File_DOC_POS.svg"
                                                                    (click)="preview(level4.l4_doclink)" />
                                                            </button>
                                                        </div>

                                                        <div *ngIf="view == 'PROJECT' && contentLevel >= 4"
                                                            class="add-cart-button">
                                                            <button
                                                                (click)="buttonClicked(level1, level4, level4.l4_enabledflag, 'Y')"
                                                                mat-flat-button class="tab-button">
                                                                <img *ngIf="level4.l4_enabledflag == 'Y'"
                                                                    src="../../../assets/Cross_POS.svg" />
                                                                <img *ngIf="level4.l4_enabledflag == 'N'"
                                                                    src="../../../assets/Plus_POS.svg" />
                                                                <strong>
                                                                    {{ getToggleButtonLabel( level4.l4_enabledflag, 4, level4.l4_doclink) }}
                                                                </strong>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </ng-template>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </ng-template>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>