.activity-head{
    margin-bottom: 1em;
    font-weight: 600;
    .activity-title{
        margin-bottom: 1em;
        font-size: 28px;
        cursor: pointer; 
    }
    .activity-caption{
        font-size: 12px;
    }
    
}