.container {
    display: flex;
    width: 400%;
    .problem-container {
      font-weight: 600;
      margin: 15px;
      border-radius: 8px;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.18);
      background-color: #ffffff;
      padding: 20px;
      width: 50%;
      height: 180px;
      .scroller {
        width: 102%;
        max-height: 180px;
        overflow-y: auto;
        .problem-header {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.88;
          letter-spacing: normal;
          color: #005587;
          padding-bottom: 15px;
          .problem-icon {
            float: left;
            padding-right: 30px;
          }
        }
        .problem-body {
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #797474;
          width: 85%;
        }
      }
    }
  }
  
  .scroller::-webkit-scrollbar {
    width: 8px;
  }
  
  .scroller::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: #b5b0b0;
  }
  
  .scroller::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #2797a9;
  }
  
  .scroller::-webkit-scrollbar-thumb:hover {
    background-color: #2797a9;
  }
  