<app-menu-bar></app-menu-bar>
<div class="activities-container">
  <div class="activities-left">
    <div class="activities-filters" *ngIf="urlParams">
      <div class="section">
        Filter by
      </div>
      <div class="header">
        Function
      </div>
      <app-activities-filter (hierarchyDetEvent)="hierarchyDetEvent($event)" [filteredTree]="filteredTree"
        [filterData]="filterData" [urlParams]="urlParams">
      </app-activities-filter>
    </div>
  </div>
  <div class="activities-right" *ngIf="urlParams && functionPackageURL">
    <app-activities-details [hierarchyDet]="hierarchyDetEventValue" [urlParams]="urlParams"
      [functionPackageURL]="functionPackageURL" [projectName]="projectGlobalInfo?.projectName">
    </app-activities-details>
  </div>
</div>