@import "src/assets/styles/_common.scss";

.showErrorContainer {
  background: #91eff1;
  color: #128e91;
  width: 100%;
  padding-left: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 20px;
  border-style: groove;
}

.hideErrorContainer {
  display: none;
}

.bodydiv {
  width: 100%;
  // display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: $container-height-1;
}

.labelkey {
  font-size: 10.2px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d2d2d;
}

.headerTblCell1 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: normal;
  color: #000000;
  text-shadow: 1px 0 #000;
  letter-spacing: 0.5px;
  padding-bottom: 2rem;
  margin-top: -1rem;
  text-align: center;
}

.project-right {
  padding: 1rem 2rem;
  margin: 0;
  overflow-y: auto;
  min-width: 80%;
}

.searchFieldContainer {
  margin: 1rem;
  text-align: center;
  vertical-align: top;
}

input[type="text"] {
  width: 555px;
  height: 40px;
  // opacity: 0.43;
  border-radius: 28px;
  border: solid 1px #979797;
  outline: none;
  box-sizing: border-box;
  line-height: 0;
  background-color: transparent;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  background-image: url(../../../../../../assets/search@3x.png);
  background-size: 18px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}

::placeholder {
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000000;
}

.page-logo {
  font-weight: 600;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0.5px 0 #ffffff;
  letter-spacing: 1px;
  background-color: #858484;
  padding: 3px;
  width: 100%;
}

.page-logo div:first-child {
  font-size: 22px;
}

.page-logo div:not(:first-child) {
  margin-left: 1.6rem;
  font-size: 26px;
}

.wrapper-body {
  height: 30vh;
  width: 40vh;
  background: #c4c4c4;
  border-radius: 15px;
  margin: 1rem 2rem;
  cursor: pointer;
}
.project-icon {
  margin-top: -8%;
  height: 25vh;
  width: 37vh;
  // margin-left: -6%;
  border-radius: 15px;
  background-color: #000;
  text-align: center;

  img {
    margin-top: 10%;
  }
}
.wrapper-content {
  display: inline-block;
  padding: 0 1rem;
  font-style: normal;
  font-weight: normal;
  width: 75%;
  cursor: pointer;

  .title {
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
  }

  .sub-title {
    font-size: 12px;
    line-height: 16px;
  }
}
.more-icon {
  width: 6vh;
  height: 6vh;
  float: right;
  margin-top: -38px;
  margin-right: 5px;
  cursor: pointer;
}

.back-btn {
  float: right;
  margin: 13px;
  margin-right: 3%;
  height: 30px;
  line-height: 0;
  color: white;
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: max-content;
  grid-auto-flow: column;
  position: relative;
  max-height: 77vh;
  overflow: auto;
  padding-top: 1.5em;
}

.wrapper::-webkit-scrollbar-track {
  border-radius: 12.5px;
  background-color: #cfe6e9;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(99, 102, 106);
  border-radius: 3px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.top-bar-home-btn {
  float: left;
  margin: 9px;
  border-radius: 0;
  background-color: #141313;
  font-weight: bold;
}
