<div class="project-stepper-wrapper">
  <div *ngFor="let pit of pits;let i=index" class="pit-wrapper"
    [ngClass]="{'crossed-pit': pit.crossed, 'on-pit': pit.active}">
    <!-- <div class="stepper-pit" (click)="onPitClicked(pit)"></div> -->
    <div style="display: flex;">
      <div style="margin-top: 3px;margin-right: 5px;"
        *ngIf="pits[i]?.label == 'Service' || pits[i]?.label == 'Geography' || pits[i]?.label == 'Process' || pits[i]?.label == 'System';">
        <span class="required-asterisk">*</span>
      </div>
      <div class="stepper-pit-label" (click)="onPitClicked(pit)">{{pit.label}}
      </div>
    </div>
  </div>
</div>