.project-stepper-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  // .pit-connector-track {
  //     height: 10px;
  //     width: 170px;
  //     background-color: #f4f4f4;
  //     position: absolute;
  //     top: 10px;
  //     left: 115px;
  // }

  .pit-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 200px;
      position: relative;

      .stepper-pit {
          background-color: #f4f4f4;
          border-radius: 1em;
          height: 2em;
          width: 2em;
          transition: background-color 0.3s ease-in-out 0.3s;
          cursor: pointer;
      }

      .stepper-pit-label {
          color: rgba(0,0,0,0.54);
          cursor: pointer;
          font-size: 16px;

      }

      &:before {
          content: "";
          // @extend .pit-connector-track
      }

      &:after {
          content: "";
          // @extend .pit-connector-track;
          width: 0;
          background-color: #d9e6cc;
          transition: width 0.3s ease-in-out;
      }

      &.on-pit {
          .stepper-pit {
              background-color: #d9e6cc;
          }

          .stepper-pit-label {
              color: rgb(0,0,0);
              font-weight: 600;
              border-bottom: solid 1px black;
          }
      }

      &.crossed-pit {
          .stepper-pit {
              background-color: #d9e6cc;
          }

          &:after {
              width: 170px;
              background-color: #d9e6cc;
          }
      }



      &:last-child {
          &:after, &:before {
              display: none;
          }
      }
  }

}
