.project-description-label{
    .mat-optgroup-label{
      font-weight: bold;
      font-size: 16px;
      height: 42px;
      line-height: 42px;
    }
}

.project-mat-option-text{
   .mat-option-text{
    font-size: 14px !important;
    color: rgba(0,0,0,.87);
   }
}