<div class="confirmStyle" *ngIf="showDeleteConfirmationBox"> 
    Do you want to remove the team member?
    <table class="confirmStyleTable" style="padding-top: 10px;">
    <tr>
        <button mat-raised-button (click)="removeClickedSecond()" style="margin-right: 10px;" >Ok</button>
        <button mat-raised-button (click)="removeCancelClicked()" style="margin-left: 10px;">Cancel</button>
    </tr>
    </table>
</div>  
 
<div class="confirmStyle" *ngIf="showSaveConfirmationBox"> 
    Do you want to save the changes?
    <table class="confirmStyleTable" style="padding-top: 10px;">
    <tr>
        <button mat-raised-button (click)="saveClickedSecond()" style="margin-right: 10px;" >Ok</button>
        <button mat-raised-button (click)="saveCancelClicked()" style="margin-left: 10px;">Cancel</button>
    </tr>
    </table>
</div>  

<div [ngClass]="{
  'formReadOnly': isFormReadOnly,
  'formEditable': !isFormReadOnly
}">
<table mat-dialog-title class="headerTbl">
    <!--<tr style="width: 100%;">
      <td colspan="2" class="projectNameBlock">
        Project - Fedex
      </td>
      </tr>-->
  <tr style="width: 100%;">
    <td style="width: 50%;">
      <div>
          <label class="sub-text-block">{{projectName}}</label>
      </div>
      <div>
    <label class="sub-text-block">{{dialogHeader}}</label>
  </div>
    </td>
    <td style="width: 40%;">
      <!--<mat-form-field class="memberDropDown">
        <mat-select [(value)]="selectedMember">
          <mat-option *ngFor="let member of usersCompleteList" [value]="member">
            {{member.userName}}({{member.userId}})
          </mat-option>
        </mat-select> 
      </mat-form-field>-->
      <form class="example-form" >
          <!--<mat-form-field class="example-full-width">
              <input type="text" placeholder="Search Users" aria-label="Number" matInput
                  [formControl]="myControl" [matAutocomplete]="auto"
                  (focusout)="handleFocusOutEvent($event)"
                  >
              <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let member of filteredOptions | async" [value]="member.userId">
                      {{member.userName}}({{member.userId}})
                  </mat-option>
              </mat-autocomplete>
          </mat-form-field>-->
          <mat-form-field class="example-full-width" style="width: 100%;">
            <input matInput placeholder="Search users" aria-label="State" [matAutocomplete]="auto" 
                [formControl]="searchUsersCtrl" (focusout)="handleFocusOutEvent($event)">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoading">
                <mat-option *ngFor="let user of filteredUser" [value]="user.userId">
                  {{user.userName}}({{user.userId}})
                </mat-option>
              </ng-container>
            </mat-autocomplete>
          </mat-form-field>
      </form>     
    </td>
    <td>
      <button mat-button (click)="addMember()" class="addMember">+</button>
    </td>
  </tr>
  </table>
<div class="errorTxtContainer" *ngIf="errorFlag">
  {{errorMessage}}
</div>
<div mat-dialog-content>
  <mat-table [dataSource]="dataSource.members" class="mat-elevation-z8 , tablewidth">
    <ng-container matColumnDef="name" class="width25">
      <th mat-header-cell *matHeaderCellDef class="tableHeaderFmt"> Name </th>
      <td mat-cell *matCellDef="let element" class="tableContentFmt"> {{element.userName}} </td>
    </ng-container>
    <ng-container matColumnDef="email" class="width50">
      <th mat-header-cell *matHeaderCellDef class="tableHeaderFmt"> Email </th>
      <td mat-cell *matCellDef="let element" class="tableContentFmt"> {{element.userId}} 
      </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef class="tableHeaderFmt"> Role </th>
      <td mat-cell *matCellDef="let element" class="tableContentFmt">
        <mat-form-field>
          <mat-select [(value)]="element.projectRole" (selectionChange)="onRoleChange($event,element)">
            <mat-option *ngFor="let rolename of roleNames" [value]="rolename.roleCode">
              {{rolename.roleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="tableHeaderFmt"> Action </th>
      <td mat-cell *matCellDef="let element" class="tableContentFmt">
        <button mat-raised-button (click)="removeClickedOnce(element)">Remove</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>
</div>
<div mat-dialog-actions>
  <button mat-raised-button style="margin-left: 40%;" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button (click)="saveClickedOnce()">Save</button>
</div>
</div>
