.title {
  width: 760px;
  font-family: "Open Sans";
  font-size: 46px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.head-band {
  width: 1000px;
  height: 90px;
  position: absolute;
  .header {
    width: 760px;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 15px;
    padding-left: 20px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 2em;
  margin-top: 1em;
  padding-bottom: 10px;
  .divider {
    border-left: 1px solid #000;
    height: 530px;
    margin-left: 470px;
    position: absolute;
  }
  .sub-container {
    flex: 1;
    margin-left: 1em;
    width: 50%; //300px; //OCM changes
    font-weight: 600;
    font-family: "Open Sans";
    .header {
      width: 400px;
      padding-bottom: 20px;
      font-size: 30px;
      line-height: 0.75;
      color: rgb(0, 0, 0);
      padding-left: 20px;
      .header-icon {
        float: left;
      }
      .header-text {
        margin-left: 5%;
        line-height: 1.65;
      }
    }
    .body {
      width: 430px; //OCM changes
      font-size: 15px;
      line-height: 1.5;
      color: rgb(0, 0, 0);
      margin-bottom: 20px;
    }
  }
}
.cancel {
  float: right;
  cursor: pointer;
  margin: 25px;
}

//OCM changes
.info-popup-legend {
  float: right;
  margin-top: 2%;
  margin-right: 4%;

  .legend-item {
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    // line-height: 2;
    letter-spacing: normal;

    .legend-color {
      width: 18px;
      height: 14px;
      margin-right: 9px;
      display: inline-block;
      vertical-align: middle;
    }

    .black-color{
      background-color: #000000;
    }
  }
}
