<div class="proj-summary-bg">
  <div class="summary-left">
    <mat-accordion>
      <mat-expansion-panel hideToggle="true" style="margin-top: 50px;" class="exp-panel" #panel>
        <mat-expansion-panel-header class="exp-panel-header">
          <mat-panel-title class="panel-title">
            <div class="summary-projectadmin">
              <label>Project Admins </label>
            </div>
            <mat-icon *ngIf="!panel.expanded"><img class="summary-maticon"
                src="../../../../../assets/summary_arrow.png" />
            </mat-icon>
            <mat-icon *ngIf="panel.expanded" class="rotate_90"><img class="summary-maticon"
                src="../../../../../assets/summary_arrow.png" />
            </mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="scroller">
          <div *ngFor="let i of summaryScreen?.Admins" class="details-container">
            <div class="profile-details-div">
              <div class="adm-name">
                {{i.name}}
              </div>
              <div class="adm-title">
                {{i.designation}}
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <hr class='border-end' />

    <div *ngIf="summaryScreen?.artifacts">
      <!-- <div class="section">
        Filter by
      </div> -->
      <div>
        <div class="header">
          Functions
        </div>
        <hr class='border-end' />
        <div class="scroller">
          <button mat-button style="border-radius: 0;margin-left: 17px;" class="filter-btn"
            *ngFor="let artifact of summaryScreen?.artifacts"
            (click)="functionChange(artifact.functionName,artifact.entityList)"
            [ngStyle]="{'font-weight': selectedFunction == artifact.functionName ?'bold':'normal', 'background-color':  selectedFunction == artifact.functionName?'#75787B':'transparent'}">
            {{artifact.functionName}}
          </button>
        </div>
      </div>
    </div>
     <!-- <div style="background-image: url('../../../../../assets/summary-ascend-background.png');margin-top: 33px;">
       <img src="../../../../../assets/ascend-globe.png" class="summary-ascendimage">
     </div> -->

    <!-- 'color': selectedFunction == artifact.functionName ?'#f4f4f4':'#f4f4f4' -->
    <!-- <button mat-button class="filter-buttons" (click)="functionChange(artifact.functionName,artifact.entityList)"
      *ngFor="let artifact of summaryScreen?.artifacts"
      [ngStyle]="{'background-color': selectedFunction == artifact.functionName ?'rgb(255, 255, 255, 0.22)':'transparent', 'opacity': selectedFunction == artifact.functionName ?1:0.54, 'color': selectedFunction == artifact.functionName ?'#2aa0b2':'#ffffff'}">
      {{artifact.functionName}}
    </button> -->


    <!-- <button mat-button class="filter-buttons" (click)="switch('core')"
      [ngStyle]="{'background-color': selected=='core'?'rgb(255, 255, 255, 0.22)':'transparent', 'opacity': selected=='core'?1:0.54, 'color': selected=='core'?'#2aa0b2':'#ffffff'}">
      Core Content
    </button>
    <button mat-button class="filter-buttons" (click)="switch('ocm')"
      [ngStyle]="{'background-color': selected=='ocm'?'rgb(255, 255, 255, 0.22)':'transparent', 'opacity': selected=='ocm'?1:0.54, 'color': selected=='ocm'?'#2aa0b2':'#ffffff'}">
      Change Management
    </button> -->

    <!-- Momentum filter change -->
    <ng-container *ngIf="capabilityEdgeData?.length > 0">
      <div *ngFor="let filter of constructedFilter?.childs">
        <div *ngIf="filter.filter_category=='Momentum'">
          <app-summary-filter [filter]="filter">
            <ng-container filters *ngFor="let filterChild of filter.childs">
              <app-summary-filter *ngIf="filterChild?.childs.length > 0" [filter]="filterChild" [expanded]="!!false">
                <ng-container filters>
                  <mat-checkbox class="filter-value" (change)="filterChangedEvent($event,momentum.id)"
                    *ngFor="let momentum of filterChild.childs" [checked]="filterChecked(momentum.id)">
                    {{momentum.filter_category}}
                  </mat-checkbox>
                </ng-container>
              </app-summary-filter>
            </ng-container>
          </app-summary-filter>
        </div>
      </div>
    </ng-container>

    <!-- Momentum filter change -->

  </div>
  <div class="right">

    <div class="project-summary-container">
      <div style="padding-top: 15px; padding-right: 15px; padding-left: 5px; cursor: pointer;">
        <img onClick="javascript:history.back()" src="../../../../../assets/right.png" style="height: 17px;width: 14px;" />
      </div>
      <div style="display: flex;margin-left: auto;margin-right: auto;">
      <div style="width: 25%;">
        <p class="summary-prjct-title">Project Summary</p>
      </div>
      <div class="btn-grp">
        <!-- <button class="backbtn" onClick="javascript:history.back()">Back</button> -->
        <button class="summary-publish-btn" (click)="publish()" *ngIf="projectGlobalInfo?.role == 'PROJECT_ADMIN'">
          <!-- *ngIf="projectGlobalInfo?.role == 'PROJECT_ADMIN'" -->
          Publish to Teams
        </button>
        <!--
          Commenting for PROD release
        <button class="uplodbtn">
          Publish Project Quals
        </button>
        -->
      </div>
    </div>
      <div class="project-container">
        <div>
          <img [src]="getSafeURL(summaryScreen?.clientLogo)" (click)="goHome()" width="114px" height="91px" />
        </div>
        <div class="project-sub-container">
          <label class="project-summary-Details" (click)="goHome()">{{summaryScreen?.projectName}}</label>
          <!-- <p style="min-height: 20px;"></p> -->
          <p class="project-summary-description">{{summaryScreen?.projectDesc}}</p>
        </div>
      </div>
      
    </div>
<!-- <div>
  <p class="summary-prjct-description">Search, access and execute deliverables.</p>
</div> -->
    <!-- <label class="labelkey" id="projectLabel" style="font-size: 22px;white-space: nowrap;">Project summary</label> -->
    <div class="legend-row">
      <!-- <div class="insightslegend legendicon"></div>
      <label class="legend">Insights</label>

      <div class="imaginelegend legendicon"></div>
      <label class="legend">Imagine</label>

      <div class="deliverlegend legendicon"></div>
      <label class="legend">Deliver</label>

      <div class="runlegend legendicon"></div>
      <label class="legend">Run</label> -->
    </div>

    <div style="margin-top: 28px;" class="wrapper" *ngIf="selected !='capabilityEdge'">
      <mat-card class="summary-matcard" *ngFor="let entity of entityList">
        <mat-card-content>
          <div class="summary-matcard-image">
            <img src="../../../../../assets/{{entity?.artifactIcon}}" style="height: 80px;width: 80px;margin-top: -50px;">
          </div>
          <div class="summary-matcard-count">
            <label style="cursor: context-menu;">{{entity.entityCount}}</label>
          </div>
          <div class="summary-matcard-entityname">
            <label style="cursor: context-menu;">{{entity.entityName}}</label>
          </div>
          <div>
            <p class="summary-matcard-view" (click) = navigateToStop(entity) >View</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- <div class="wrapper" *ngIf="selected=='core'">
      <mat-card class="artifact-tile" *ngFor="let i of coreArtifactsData;let k = index">
        <mat-card-content (click)="navigate(i.artifactLink)">
          <div>
            <div class="cardheaderdiv"><label class="cardheader">{{i.artifactType}}</label></div>
            <div class="cardcontentcenter">
              <img style="margin-right:5px" src="../../../../../assets/{{i?.artifactIconPath}}">

              <label
                [ngClass]="{'blue-count': i.artifactPhase.toUpperCase()=='INSIGHTS', 'pastel-count': i.artifactPhase.toUpperCase()=='IMAGINE', 'yellow-count': i.artifactPhase.toUpperCase()=='DELIVER', 'green-count': i.artifactPhase.toUpperCase()=='RUN' }">{{i.artifactCount}}</label>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="wrapper" *ngIf="selected=='ocm'">
      <mat-card class="artifact-tile" *ngFor="let i of changeManagementData;let k = index">
        <mat-card-content (click)="navigate(i.artifactLink)">
          <div>
            <div class="cardheaderdiv"><label class="cardheader">{{i.artifactType}}</label></div>
            <div class="cardcontentcenter">
              <img style="margin-right:5px" src="../../../../../assets/{{i?.artifactIconPath}}">

              <label
                [ngClass]="{'blue-count': i.artifactPhase.toUpperCase()=='INSIGHTS', 'pastel-count': i.artifactPhase.toUpperCase()=='IMAGINE', 'yellow-count': i.artifactPhase.toUpperCase()=='DELIVER', 'green-count': i.artifactPhase.toUpperCase()=='RUN' }">{{i.artifactCount}}</label>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    </div> -->

    <!-- Momentum filter change -->
    <div class="wrapper" *ngIf="selected=='capabilityEdge'">
      
      <mat-card class="artifact-tile" *ngFor="let i of filteredCapabilityEdgeData;let k = index">
        <mat-card-content (click)="openDialog(i.artifactImg)">
          <div>
            <div class="cardheaderdiv"><label class="cardheader">{{i.artifactType}}</label></div>
            <div class="cardcontentcenter" *ngIf="i.artifactId != 1" style="bottom: auto;">
              <img *ngIf="i.artifactIconPath" style="margin-right:5px"
                src="../../../../../assets/{{i?.artifactIconPath}}" [width]="i.iconWidth">
              <label class="blue-count" style="font-size: 25px;">{{i?.artifactCount}}</label>
            </div>
          </div>

          <div class="cardcontentcenter" *ngIf="i.artifactId == 1" style="bottom: auto;">
            <div style="margin-right: 25px;">
              <img style="margin-right:10px" src="../../../../../assets/Leading.JPG">
              <label>Leading - 0</label>
            </div>

            <div style="margin-left: -22px;">
              <img style="margin-right:5px; margin-left: 44px;" src="../../../../../assets/Performing.JPG">
              <label>Performing - 3</label>
            </div>

            <div style="margin-right: 22px;">
              <img style="margin-right:5px" src="../../../../../assets/Lagging.JPG">
              <label style="margin-right: 5px;">Lagging - 3</label>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    
    </div>
    <!-- Momentum filter change -->
  </div>