<div class="page-logo">
  <button mat-button class="top-bar-home-btn" (click)="goBack()">Home</button>
  <span>Process Scope Generator</span>
</div>
<div class="timeline-wrapper">
  <div class="project-add-edit-form-wrapper">
    <div class="option-wrapper">
      <div class="option">
        <mat-label style="font-size:12px; font-weight: bold;">Edit Data</mat-label>
        <div>
          <mat-form-field class="custom-width" appearance="outline" floatLabel="never">
            <mat-select [(ngModel)]="vEditable" (selectionChange)="ngOnInit()">
              <mat-option value="false">No</mat-option>
              <mat-option value="true">Yes</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="option">
        <mat-label style="font-size:12px; font-weight: bold;">Export Data</mat-label>
        <div>
          <mat-form-field class="custom-width" appearance="outline" floatLabel="never">
            <mat-select [(ngModel)]="vExport" (selectionChange)="ngOnInit()">
              <mat-option value="false">Excel</mat-option>
              <mat-option value="true">PDF</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="gantt-chart">
    <ng-gantt [options]="editorOptions" [data]="data" #editor></ng-gantt>
  </div>
</div>
<div class="save-btn">
  <button mat-button class='btn-style' *ngIf="editorOptions.vEditable" (click)="save()">Save</button>
</div>
