.timeline-wrapper {
  margin-top: 2%;
  margin-left: 4%;
  .option-wrapper {
    display: flex;
    .option {
      margin-right: 10px;
    }
  }
  .gantt-chart {
    width: 95%;
    max-height: 62vh;
    overflow-y: auto;
  }
}

.top-bar-home-btn {
  float: left;
  margin: 9px;
  margin-left: 30px;
  border-radius: 0;
  background-color: #141313;
  font-weight: bold;
}

.page-logo {
  font-weight: 600;
  font-size: 18px;
  line-height: 49px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0.5px 0 #ffffff;
  letter-spacing: 1px;
  background-color: #858484;
  padding: 3px;
  margin-bottom: 1em;
}

.save-btn {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  .btn-style {
    font-size: 18px;
    background-color: #0097a9;
    margin: 5px;
    color: white;
  }
}
