#Imagine_x5F_Refine_x5F_off:hover {
  cursor: pointer;
}
#Imagine_x5F_Define_x5F_off:hover {
  cursor: pointer;
}
#Imagine_x5F_adapt_x5F_off:hover {
  cursor: pointer;
}
#Imagine_x5F_Apply_x5F_off:hover {
  cursor: pointer;
}
#Imagine_x5F_launch_x5F_off:hover {
  cursor: pointer;
}
