@import "src/assets/styles/_colors.scss";
@import "src/assets/styles/_common.scss";

.marketing-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: $container-height-1;
  margin: 0;
  padding: 0;

  // padding-top: 5%;
  .marketing-left {
    width: 25.5%;
    margin-left: -10%;
    padding-right: 3%;
    padding-top: 4%;
    background-color: $palette-black-primary;
    overflow-y: auto;

    .globe {
      background-image: url("../../../../assets/about_round_image.png");
      background-repeat: no-repeat;
      background-position-x: right;
      height: 100%;
    }
  }

  .marketing-right {
    width: calc(100% - 250px);
    padding-left: 80px;
    margin: 0;
    overflow-y: auto;
  }

  .sub-container {
    // flex: 1;
    // padding-left: 2%;

    // .video-btn-div {
    //   padding-top: 3%;
    //   padding-bottom: 5%;
    //   text-align: center;
    //   width: 85%;
    //   .video-btn {
    //     color: #fff;
    //     background-color: #0097a9;
    //     height: 55px;
    //     font-size: 21pt;
    //   }
    // }

    // .back-btn-div {
    //   padding-bottom: 5%;
    //   .back-btn {
    //     color: #fff;
    //     background-color: #000;
    //     min-width: 50px;
    //     font-size: 12pt;
    //     min-width: 200px;
    //   }
    // }

    .searchField {
      width: 100%;
      text-align: center;
      height: 30px;
    }

    .searchFieldContainer {
      margin-top: 4%;
    }

    input[type="text"] {
      width: 555px;
      height: 40px;
      // opacity: 0.43;
      border-radius: 28px;
      border: solid 1px #979797;
      outline: none;
      box-sizing: border-box;
      line-height: 0;
      background-color: transparent;
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      background-image: url(../../../../assets/search@3x.png);
      background-size: 18px;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #000000;
    }

    ::placeholder {
      color: #000000;
      opacity: 1;
    }

    :-ms-input-placeholder {
      color: #000000;
    }

    .text-block {
      color: black;
      width: 100%;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0;
      padding-top: 3%;
    }

    .desc-block {
      color: black;
      width: 80%;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0;
      text-align: justify;
      padding-top: 5px;
      padding-bottom: 3%;

      .scroller {
        max-height: 55vh;
        overflow-y: auto;
        margin-left: -10px;
      }

      mat-grid-list {
        width: 97%;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      .scroller::-webkit-scrollbar-track {
        border-radius: 12.5px;
        background-color: #cfe6e9;
      }

      mat-grid-tile {
        border-radius: 8px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.18);
        background-color: #ffffff;
        .desc {
          padding: 30px;
        }
      }

      mat-grid-tile-header {
        background-color: transparent;
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        padding: 30px;
        align-items: flex-start;
      }

      mat-grid-tile-footer {
        background-color: transparent;
        height: 27%;
        justify-content: center;
        align-items: flex-start;
        .doc-button {
          width: 42px;
        }
        .play-button {
          width: 42px;
          margin-left: 25px;
        }
      }
    }
  }
}
