<!-- <div class="tool-popup-wrapper"> -->
<div class="multicolor-band">
  <img class="rectangle" src="../../assets/bottom_color.png" />
</div>
<div class="close">
  <img (click)="closePopup()" src="../../../../assets/cross-neg@3x.png" width="35px" />
</div>
<div class="header">
  <div class="header-body">
    {{data.toolName}}
  </div>
  <div class="header-body">
    <div class="actions">
      <!-- [disabled]="projectGlobalInfo.viewMode == 'EXPLORE'" -->
      <!-- [ngClass]="{'disabled':projectGlobalInfo.viewMode == 'EXPLORE', 'black':projectGlobalInfo.viewMode == 'PROJECT'}" -->
      <button [disabled]="projectGlobalInfo.viewMode == 'EXPLORE' || projectGlobalInfo.viewMode == 'PROJECT'"
        mat-raised-button
        [ngClass]="{'disabled':projectGlobalInfo.viewMode == 'EXPLORE', 'disabled':projectGlobalInfo.viewMode == 'PROJECT'}"
        (click)="launchTool(data.toolLaunchLink)" id="3" *ngIf="!!(data.toolLaunchLink)">View solution</button>

    </div>
  </div>
</div>
<div class="body" *ngFor="let content of toolsbarPopupData">
  <div class="body-container">
    <div class="body-subcontainer">
      <app-problem [statementData]="content.problemStatement" [descData]="content.description">
      </app-problem>
    </div>
    <div class="body-subcontainer">
      <app-tech-stack [techstackData]="content.techStack"></app-tech-stack>
    </div>
  </div>
  <div class="body-container">
    <div class="body-subcontainer">
      <app-impact [impactData]="content.impact"></app-impact>
    </div>
    <div class="body-subcontainer">
      <app-documentation [docData]="content.documentation"></app-documentation>
    </div>
  </div>
</div>
