.close {
    float: right;
    padding: 10px;
    cursor: pointer;
  }
  .multicolor-band {
    margin-top: -10px;
    .rectangle {
      left: 0%;
      width: 100%;
      height: 20px;
    }
  }
  .actions {
    float: right;
    button {
      border-radius: 2px;
      font-size: 14px;
      font-weight: 600;
      box-shadow: none;
      text-align: center;
      width: 124px;
      height: 27px;
    }
    button.black {
      background-color: #000000;
      color: rgb(255, 255, 255);
      margin: 5px;
      line-height: 0;
    }
    button.disabled {
      color: gray;
      margin: 5px;
      line-height: 0;
    }
  }
  .header {
    width: 93.5%;
    margin-top: 0px;
    padding-right: 42px;
    padding-left: 42px;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: -0.17px;
    text-align: center;
    color: #0f0f0f;
    display: flex;
    .header-body {
      flex: 1;
      text-align: left;
    }
  }
  .body {
    width: 100%;
    .body-container {
      justify-content: space-between;
      width: 90%;
      display: flex;
      padding-left: 25px;
      height: 250px;
      .body-subcontainer {
        z-index: 1;
        width: 20%;
      }
    }
  }
  