@import "src/assets/styles/_common.scss";

.project-edit-bodydiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: $container-height-1;

  .project-edit-left {
    width: 280px;
    background-color: #141313;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("../../../../../assets/ascend-globe.png"),
      url("../../../../../assets/summary-ascend-background.png");
    background-repeat: no-repeat;
    background-position: 2px 75px;
    background-size: 85%, 100% 100%;
  }

  .project-edit-right {
    width: calc(100% - 250px);
    // padding-left: 80px;
    margin: 0;
    overflow-y: auto;
  }
}

.logo-image {
  position: absolute;
  top: -3em;
}

.create-edit-page-wrapper {
  width: 75%;
  // margin: auto;
  margin-left: 4em;
  position: relative;
  padding-top: 25px;

  .page-title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .project-tag-line {
    // padding: 14px 0;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 34px;
    letter-spacing: normal;
    color: #000000;
  }
}
