<div class="project-edit-bodydiv">
    <div class="project-edit-left">
    </div>

    <div class="project-edit-right">
        <!-- <img class="logo-image" src="../../../assets/ProjectPageLogo.png" opacity="50%" width="250px" height="200px" /> -->
        <div class="create-edit-page-wrapper">
            <div class="page-title">
                <span>{{pageHeader}}</span>
            </div>

            <div class="project-tag-line">
                <span>Enter the project information below.</span>
            </div>

            <div class="form-wrapper" *ngIf="formData">
                <!-- comment this -->
                <!-- <app-project-stepper [pits]="formSegment" (pitClicked)="onPitClicked($event)"></app-project-stepper> -->
                
                <!-- PROJECT DETAILS -->
                <!-- <app-project-details-form
                #form
                *ngIf="currentPitStop.label === PROJECT_DETAILS_TYPE"
                [@enterAnimation]
                [formData] = "formData?.projectDetails"
                [isEditable]="formData?.isEdit"
                (next)="onNextPit($event)"
                (back)="goBack()"
            ></app-project-details-form> -->

                <app-project-details-form #form [@enterAnimation] [formData]="formData?.projectDetails"
                    [isEditable]="formData?.isEdit" (next)="submit($event)" (back)="goBack()">
                </app-project-details-form>

                <!-- CLIENT DETAILS -->
                <!-- <app-client-details-form
                #form
                *ngIf="currentPitStop.label === CLIENT_DETAILS_TYPE"
                [@enterAnimation]
                [formData] = "formData?.clientDetails"
                [isEditable]="formData?.isEdit"
                (next)="onNextPit($event)"
                (back)="goBack()"
            ></app-client-details-form> -->

                <!-- SCOPE DETAILS -->
                <!-- <app-scope-details-form
                #form
                *ngIf="currentPitStop.label === SCOPE_DETAILS_TYPE"
                [@enterAnimation]
                [formData] = "formData?.scopeDetails"
                (onSubmitForm)="submit($event)"
                (back)="goBack()"
            ></app-scope-details-form> -->

            </div>
        </div>
    </div>
</div>