<div class="container">
  <div class="problem-container">
    <div class="scroller">
      <div class="problem-header">
        <!-- <img class="problem-icon" src="../../../../../assets/images/problem_statement.png" width="50px" height="50px" /> -->
        <span>Problem Statement</span>
      </div>
      <div class="problem-body" *ngFor="let stmt of statementData">
        {{stmt}}
      </div>
    </div>
  </div>
  <div class="problem-container">
    <div class="scroller">
      <div class="problem-header">
        <!-- <img class="problem-icon" src="../../../../../assets/images/description.png" width="50px" height="50px" /> -->
        <span>Description & Features</span>
      </div>
      <div class="problem-body">
        {{descData}}
      </div>
    </div>
  </div>
</div>