
//theme colors
$primary-themecolor-insights:       $palette-blue-100;
$primary-themecolor-imagine :       $palette-blue-200;
$primary-themecolor-deliver :       $palette-yellow-100;
$primary-themecolor-run :           $palette-green-100;



//Navigation background
$primary-nav-background:            $palette-black-100;
$secondary-nav-background:          $palette-white-100;

//page background
$primary-page-background:           $palette-white-200;


//font color 
$primary-font-color:                $palette-black-100;
$secondary-font-color:              $palette-black-102;
$tertiary-font-color:               $palette-white-100;
$quaternary-font-color:             $palette-grey-100;

//warning font color 
$primary-font-warning:              $palette-orange-100;


//error font color
$primary-font-error:                $palette-red-100;

//btn-hover
$btn-hover-background:              $palette-white-201;

//box-backgrounf
$container-box-background:          $palette-grey-103;