<div class="det-container">
  <div class="train-stop-det" *ngIf="urlParams?.trainStopDetails">
    <div class="stop-name">
      <mat-icon (click)="back()" *ngIf="!activitiesView" aria-hidden="false"
        style="font-size:54px;padding-right:25px;cursor: pointer; margin-left: -45px; line-height: 0.5;"
        [ngStyle]="{'color':textColorScheme}">chevron_left</mat-icon>
      <span
        (click)="goToLink(urlParams?.trainStopDetails?.entityName)">{{urlParams?.trainStopDetails?.entityName}}</span>
      <span *ngIf="!activitiesView">&nbsp;- {{activity?.entityName}}</span>
      <!-- {{urlParams?.trainStopDetails?.entityName}} -->
      <div style="margin-left: 30px;">
        <!-- <mat-icon *ngIf="urlParams?.trainStopDetails?.entityName == 'Discover scope'" style="cursor: pointer;"
          [matMenuTriggerFor]="scopeMenu">
          more_horiz</mat-icon> -->
        <!-- <img class="more-icon" *ngIf="urlParams?.trainStopDetails?.entityName == 'Sense'"
          src="../../../../../assets/images/more_one.png" [matMenuTriggerFor]="scopeMenu" /> -->
        <button *ngIf="urlParams?.trainStopDetails?.entityName == 'Define journey'" 
         class="workspace-btn"  mat-button
        (click)="goToPage('')"
        >Process Scope Generator</button>
        <!-- <mat-menu #scopeMenu="matMenu">
          <button mat-menu-item class="menu-item" (click)="goToPage(menuItems[0])">{{menuItems[0]?.label}}</button>
        </mat-menu> -->
        <!-- <img class="more-icon" *ngIf="urlParams?.trainStopDetails?.entityName == 'Adapt leading practices'"
          src="../../../../../assets/images/more_one.png" [matMenuTriggerFor]="alpMenu" />
        <mat-menu #alpMenu="matMenu">
          <button mat-menu-item class="menu-item"
            (click)="goToPage(alpMenuItems[0])">{{alpMenuItems[0]?.label}}</button>
        </mat-menu> -->
      </div>
    </div>
    <!-- <div class="stop-name" style="display: inline-block" *ngIf="activitiesView">
      &nbsp;Activities
    </div> -->
    <!-- <div class=" stop-name" style="display: inline-block;"
      *ngIf="activitiesView && hierarchyDet[0].entityType.toUpperCase() == 'SUB-DOMAIN'">
      &nbsp;Sub domain tasks
    </div> -->
    <!-- <div class="stop-name" style="display: inline-block;" *ngIf="!activitiesView">
      &nbsp;Deliverables
    </div> -->
    <div *ngIf="activitiesView" style="width: 75%;">
      {{urlParams?.trainStopDetails?.entityDescription}}
    </div>
  </div>
  <div *ngIf="activitiesView && urlParams?.trainStopDetails" class="activities-view">
    <!-- <div class="heading" [ngStyle]="{'color':textColorScheme}"
      *ngIf="hierarchyDet && hierarchyDet[0].entityType.toUpperCase() == 'ACTIVITY'">
      Activities
    </div> -->
    <!-- <div class="heading" [ngStyle]="{'color':textColorScheme}"
      *ngIf="hierarchyDet[0]?.entityType?.toUpperCase() == 'SUB-DOMAIN'">
      Sub domain tasks
    </div> -->
    <div class="activities-scroller">
      <div class="activities-wrapper" *ngFor="let i of hierarchyDet">
        <div class='activity-title'>
          {{i.entityName}}
        </div>
        <div class='activities-desc'>
          <div *ngIf="i.entityDescription?.split('~$')?.length>1">
            <div *ngFor="let j of i.entityDescription?.split('~$')" style="display: inline-flex; width: 100%;">
              <div>
                <mat-icon matListIcon style="font-size: 7px; height: 0;">lens</mat-icon>
              </div>
              <div>
                {{j}}
              </div>
            </div>
          </div>
          <div *ngIf="i.entityDescription?.split('~$')?.length==1">
            {{i.entityDescription}}
          </div>
        </div>
        <div style="padding-left: 10px" *ngIf="i.enableBtnDiv">
          <div style="display: inline-block" *ngFor='let j of i.clickableContent'>
            <button
              *ngIf="j.buttonName == 'View amplifiers' && (j.buttonDetails[0]?.filterId?.length > 0 && j.buttonDetails[0]?.toolId?.length > 0)"
              class="activities-btns" [ngStyle]="{'background-color':colorScheme}" mat-button
              (click)="switchView(j, i)">
              {{j.buttonName}}</button>
            <button class="activities-btns" [ngStyle]="{'background-color':colorScheme}"
              *ngIf="j.buttonName == 'View deliverables' && j.buttonDetails?.length > 0" mat-button
              (click)="switchView(j, i)">
              {{j.buttonName}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!activitiesView && buttonDetails?.length >0 && functionPackageURL">
    <div style="float: left; margin-bottom:500px">
      <!-- <img (click)="back()" src="../../../../../assets/right.png"
        style="padding-top: 10px;padding-right:20px;padding-bottom:10px;margin-bottom: 100px;cursor: pointer;" /> -->
      <!-- <span (click)="back()" style="font-size:34px;padding-right:10px;cursor: pointer; font-weight: 900;"
        [ngStyle]="{'color':textColorScheme}">
        < </span> -->
      <!-- <mat-icon (click)="back()" aria-hidden="false"
        style="font-size:54px;padding-right:25px;cursor: pointer; margin-left: -15px; line-height: 0.5;"
        [ngStyle]="{'color':textColorScheme}">chevron_left</mat-icon> -->
    </div>
    <app-activity-tabs [urlParams]="urlParams" [buttonDetails]="buttonDetails" [functionPackageURL]="functionPackageURL"
      [activity]="activity" [colorScheme]="colorScheme" [textColorScheme]="textColorScheme">
    </app-activity-tabs>
  </div>
</div>
