.bottom-activity-panel{

  // padding: 0.5em;
  border-radius: 6px;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  height:85%;

  .heading{
      border-radius: 6px 6px 0px 0px;
      padding: 0.5em;
      font-weight: bold;
      color: white;
      font-size: 14px;
  }

  .body{

     padding: 0.5em;
     font-weight: 500;
     color: black;
     font-size: 12px;
  }
}
