<nav mat-tab-nav-bar class="feature-tabs deliver" animationDuration="700ms">
        <a class="tab-style" mat-tab-link *ngFor="let tab of tabs;let i=index" [routerLink]="tab.tabURL"
                (click)="setCurrentTabNew(tab)" [active]="currentTab?.tabName == tab.tabName">
                {{ tab.tabName }}
                <ng-template
                        [ngIf]="currentTab?.tabName == tab.tabName && tabCount && tabCount?.tabName == tab.tabName">
                        {{tabCount.tabCount}}
                </ng-template>
        </a>
</nav>

<app-tools-bar [tabName]="currentTab?.tabName" [bgColor]="bgColor"></app-tools-bar>

<app-tab-content *ngIf="currentTab" [commonphaseName]="phaseName" [commonstopName]="stopName" [commontab]="currentTab"
        [bgColor]="bgColor"></app-tab-content>