#estimate_x5F_OFF:hover {
  cursor: pointer;
}
#create_x5F_off:hover {
  cursor: pointer;
}
#develop_x5F_off:hover {
  cursor: pointer;
}
#establish_x5F_off:hover {
  cursor: pointer;
}
#discover_x5F_off:hover {
  cursor: pointer;
}
