.container {
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin: 15px;
  height: 180px;
  width: 220%;
  margin-left: -113%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  .doc-header {
    font-size: 23px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #005587;
  }
  .doc-body {
    display: flex;
    .links {
      flex: 1;
      width: 400px;
      font-size: 15px;
      font-weight: bold;
      color: rgb(65, 62, 62);
      padding-bottom: 20px;
      text-align: center;
      text-align: -webkit-center;
      .text-div {
        width: 88px;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        .doc-link-text {
          cursor: pointer;
          text-decoration: none;
          color: #413e3e;
        }
      }
    }
  }
}
