<div class="bodydiv">
  <div class="project-left">
    <!-- <div class="globe">
    </div> -->
  </div>

  <div class="project-right">
    <div class="workspace-title-section">
      <div style="margin-left: auto;margin-right: auto;width: 100%;">
        <div id="projectLabel2" class="headerTblCell1">
          Projects
        </div>
        <div class="project-tagline">
          <p>Below are your associated projects and their available tasks.</p>
        </div>
        <div class="searchFieldContainer" *ngIf="userInfo?.isAscendAdmin=='true' || searchbarEnable">
          <form autocomplete="off">
            <div class="search-div">
              <!-- <i [ngStyle]="{'background-color': colorSwitch=='true'?'grey':'#0097a9'}" class="search-btn"><img
                src="../../../assets/Icon_Search.svg" width="20px" />
            </i> -->
              <input type="text" name="search" placeholder="Search for project" aria-label="Number"
                [formControl]="myControl" [matAutocomplete]="auto" (focusout)="handleFocusOutEvent($event)"
                (optionSelected)="handleStaticResultSelected($event)">
            </div>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </form>
        </div>
      </div>
      <!-- <div class="tag-line"> -->
        <!-- <div style="width: 58%;">
          Welcome to Ascend. Understand where you are today and sense the work ahead.
          <p></p>
          Deloitte Ascend for Oracle is a digitally integrated platform that was launched at OOW 2019 to help clients
          assess
          their current digital capabilities, map their digital journey, and enable the delivery of their digital
          ambibions.
        </div> -->
        <!-- <div class="addButton" *ngIf="userInfo?.isAscendAdmin=='true' || searchbarEnable">
          <button mat-button class="btnClass workspace-add-prjct-btn" *ngIf="userInfo?.isAscendAdmin=='true'"
            (click)="goToProjectsPage('-1','CREATE',userInfo.userId)">Add Project</button>
        </div> -->
      <!-- </div> -->

    </div>
    <div style="display: flex; margin-bottom: 35px;margin-top: -30px;">
      <div class="addButton" *ngIf="userInfo?.isAscendAdmin=='true' || searchbarEnable">
        <button mat-button class="btnClass workspace-add-prjct-btn" *ngIf="userInfo?.isAscendAdmin=='true'"
          (click)="goToProjectsPage('-1','CREATE',userInfo.userId)">Add Project</button>
      </div>
      <!-- <button mat-button (click)="goToAscend()" class="btnClass workspace-btn-1">Explore Ascend</button> -->
      <button mat-button *ngIf="userInfo?.isAscendAdmin=='true'" class="btnClass workspace-btn-1"
        (click)="manageAdmin()">Manage admin</button>
      <!-- <button mat-button [routerLink]="['/marketplace']" class="marketBtnClass">Amplifier Exchange</button> -->
    </div>

    <!-- <table style="width: 85%;height: 150px;">
      <tr>
        <td class="project-add-btn" *ngIf="userInfo?.isAscendAdmin=='true'">
          <img style="margin: -25px 0px -25px -25px;" id="createProject"
            (click)="goToProjectsPage('-1','CREATE',userInfo.userId)" src="../../../../../assets/ProjectAdd.png"
            width="250px" />
        </td>
        <td class="project-add-desc">
          Deloitte Ascend™ for Oracle is a digitally integrated platform that was launched at OOW 2019 to help clients
          assess their current digital capabilities, map their digital journey, and enable the delivery of their digital
          ambitions.
        </td>
      </tr>

    </table> -->



    <div *ngIf="err_object.flag" [ngClass]="{
          'showErrorContainer': err_object.flag,
          'hideErrorContainer.flag': !err_object.flag
        }">
      {{err_object.error_msg}}
    </div>

    <div class="wrapper">
      <mat-card class="example-card" *ngFor="let projectinfo of userInfo?.projectInfo;let i = index">
        <mat-card-header>
          <mat-card-title>
            <div class="workspace-project-name">{{projectinfo.projectName}}</div>
          </mat-card-title>
          <!-- <div mat-card-avatar>
            <img src="../../../assets/GoogleLogo.png" width="200px" height="100px" />
            <img [src]="getSafeURL(projectinfo.clientLogoURL)" width="150px" height="75px" />
            <img [src]="getClientLogo(projectinfo.projectId)" width="200px" height="100px" />
          </div> -->
          <div class="deleteBtnContainerFmt"
            *ngIf="userInfo?.isAscendAdmin=='true' || projectinfo.projectRole == 'PROJECT_ADMIN'">
            <div [matMenuTriggerFor]="workspaceCardMenu" class="deleteBtnFmt" (click)="menuOpen = i">
              <img *ngIf="menuOpen != i" src="../../../../../assets/images/project_default_menu.png" height="25px">
              <img *ngIf="menuOpen == i" src="../../../../../assets/images/project_selected_menu.png" height="25px">
            </div>
            <mat-menu #workspaceCardMenu="matMenu" xPosition="before" (closed)="menuOpen = -1">
              <!-- <button mat-menu-item>Generate timeline</button> -->
              <div class="workspace-menu-item" mat-menu-item
                (click)="openDialog(projectinfo.projectId,projectinfo.projectName,projectinfo.manager)">Manage users
              </div>
              <div class="workspace-menu-item" mat-menu-item (click)="modifyProjectDetails(projectinfo.projectId)">
                Modify project details</div>
              <div class="workspace-menu-item" mat-menu-item (click)="deleteProjectClicked(projectinfo)">Delete project
              </div>
            </mat-menu>
          </div>
        </mat-card-header>

        <mat-card-content>
          <table class="workspace-project-details">
            <tr class="labelkey">
              <td>Client name</td>
            </tr>
            <tr class="projectPageText">
              <td>{{projectinfo.clientName}}</td>
            </tr>
            <tr style="height: 15px;">
            </tr>
            <tr>
              <td><label class="labelkey">ERP Package</label></td>
            </tr>
            <tr class="projectPageText">
              <td>{{projectinfo.erpPackage}}</td>
            </tr>
            <tr style="height: 15px;">
            </tr>
            <tr>
              <td><label class="labelkey">Manager</label></td>
            </tr>
            <tr class="projectPageText">
              <td>{{projectinfo.managerName}}</td>
            </tr>
            <tr style="height: 15px;">
            </tr>
          </table>
          <div class="workspace-card-actions">
            <button mat-button *ngIf="userInfo?.isAscendAdmin=='true' || projectinfo.projectRole == 'PROJECT_ADMIN'"
              class="btnClass workspace-btn-2" (click)="navigateToPsg(projectinfo, 'PROJECT')">Scope generator</button>
            <button mat-button [disabled]="true" class="btnClass workspace-btn-disabled"
              *ngIf="projectinfo?.isPSGCompleted == 'N'">
              Workspace</button>
            <button mat-button class="btnClass workspace-btn-2" *ngIf="projectinfo?.isPSGCompleted == 'Y'"
              (click)="goToAscendPage(projectinfo, 'PROJECT')">
              Workspace</button>
            <!-- <table style="width: 100%;padding:10px;position: absolute;bottom: 40px;">
              <tr *ngIf="userInfo?.isAscendAdmin=='true' || projectinfo.projectRole == 'PROJECT_ADMIN'"
                style="width: 100%; text-align: center;">
                <td>
                  <img src="../../../assets/project-manage-admin-logo.png" height="21.21px" width="21.21px" height="auto"
                    class="imageHover" (click)="openDialog(projectinfo.projectId,projectinfo.projectName)" />
                  <a class="aLinkSpace"
                    (click)="openDialog(projectinfo.projectId,projectinfo.projectName,projectinfo.manager)">
                    Manage users</a>

                </td>
                <span mat-button> | </span>
                <td>
                  <img src="../../../assets/ModifyProjectDetails.png" height="21.21px" width="21.21px" height="auto"
                    class="imageHover" (click)="modifyProjectDetails(projectinfo.projectId)" />
                  <a class="aLinkSpace" (click)="modifyProjectDetails(projectinfo.projectId)">
                    Modify
                    project details</a>

                </td>
              </tr>
            </table> -->
          </div>
        </mat-card-content>

        <!-- <table class="openProjectRegionFmt">
          <tr class="openProjectFmt">
            <td colspan="3"><button mat-button class="openProjectBtnClass"
                (click)="goToAscendPage(projectinfo.projectId,'PROJECT',projectinfo.userroleId
                                          ,projectinfo.projectName,projectinfo.clientName,projectinfo.clientLogoURL,projectinfo.projectRole)">Open
                project</button>
            </td>
          </tr>
        </table> -->
        <!-- <button mat-button class="openProjectBtnClass"
          (click)="goToAscendPage(projectinfo.projectId,'PROJECT',projectinfo.userroleId
                                          ,projectinfo.projectName,projectinfo.clientName,projectinfo.clientLogoURL,projectinfo.projectRole)">Open
          project</button> -->
      </mat-card>
    </div>
    <!-- </td>
          </tr>

      </table>-->
  </div>
</div>
<!-- <img class="rectangle" src="../../../../../assets/bottom_color.png" /> -->
