@import '../../../../../assets/styles/common';

$primary-color-1-workspace: #005587;
$primary-color-2-workspace: #383434;
$primary-color-3-workspace: #007680;

.showErrorContainer {
  //display: none;
  background: #91eff1;
  color: #128e91;
  width: 100%;
  padding-left: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 20px;
  border-style: groove;
}

.hideErrorContainer {
  display: none;
}

.aLinkSpace {
  vertical-align: top;
  padding-left: 3pt;
  padding-right: 3pt;
  cursor: pointer;
  font-size: 9px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4;
  letter-spacing: normal;
  color: #2d2d2d;
}

.imageHover {
  cursor: pointer;
}

.bodydiv {
  width: 100%;
  display: flex;
  // height: 93.4%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: $container-height-1;
}

.example-card {
  padding: 32px;
  width: 361px;
  height: 387px;
  margin-right: 40px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.18);
}

label {
  font-weight: bold;
}

.workspace-title-section {
  //width: 65%;
  padding: 2em 0;

  .headerTblCell1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 41px;
    color: #000000;
    text-shadow: 1px 0 $primary-color-1-workspace;
    letter-spacing: 1px;
    width: 61%;
  }

  .tag-line {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    //width: 680px;
    word-break: break-word;
    color: $primary-color-2-workspace;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .project-tagline{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #383434;
}
}

.headerTbl {
  width: 90%;
  margin-top: -190px;
  padding-left: 2%;
}

.text-block {
  //position: absolute;
  // background-color: black;
  color: black;
  left: 50pt;
  width: 100%;
  height: 55pt;
  top: 50pt;
  font-weight: 600;
  font-size: 40pt;
  letter-spacing: 0;
  position: absolute;
  display: flex;
  //margin-top: 5%;
  //margin-left: 2%;
}

.desc-block {
  //position: absolute;
  // background-color: black;
  color: black;
  left: 50pt;
  width: 100%;
  height: 55pt;
  top: 100pt;
  font-weight: 600;
  font-size: 24pt;
  letter-spacing: 0;
  position: absolute;
  margin-top: 1.5%;
  //margin-left: 2%;
}

.project-left {
  width: 280px;
  background-color: #141313;
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url('../../../../../assets/ascend-globe.png'), url('../../../../../assets/summary-ascend-background.png');
  background-repeat: no-repeat;
  background-position: 2px 75px;
  background-size: 100%, 100% 100%;
}

// .globe-background {
//   width: 411px;
//   height: 768px;
//   background-image: url('../../../../../assets/summary-ascend-background.png');
//   margin-top: 225px;
// }


.project-right {
  width: calc(100% - 250px);
  padding-left: 80px;
  margin: 0;
  overflow-y: auto;
}

.exploreAscend {
  height: 50px;
  background: black;
  color: white;
  width: 200px;
  cursor: pointer;
  z-index: 1;
  // margin-left: 365px;
}

/* .desc-block {
    //position: absolute;
    // background-color: black;
    color: black;
    left:40pt;
    width: 100%;
    height: 50pt;
    font-weight: 500;
    font-size: 24pt;
    line-height: 40pt;
    margin:1px;
    margin-left: 4%;
    top: 100pt;
  }  */
.sub-text-block {
  //position: absolute;
  // background-color: black;
  color: black;
  left: 5pt;
  top: 20%;
  width: 100%;
  height: 86pt;
  font-weight: 600;
  font-size: 30pt;
  letter-spacing: 0;
  position: relative;
}

.top-image {
  height: 15%;
  width: 15%;
}

.projectBtn {
  padding-left: 1%;
  //padding-right: 5%;
}

.searchFieldContainer {
  margin-top: -4%;
  margin-left: 61%;
  //display: flex;
  //justify-content: space-between;
  // width: 70%;
  // margin-left: 52%;
}

.addButton {
  margin-right: 18px;
  margin-top: 12px;
}

input[type="text"] {
  width: 307px;
  height: 40px;
  // opacity: 0.43;
  border-radius: 28px;
  border: solid 1px #979797;
  outline: none;
  box-sizing: border-box;
  line-height: 0;
  background-color: transparent;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  background-image: url(../../../../../assets/search@3x.png);
  background-size: 18px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #000000;
}

::placeholder {
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000000;
}

.project-add-btn {
  cursor: pointer;
}

.project-add-desc {
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  padding-bottom: 40px;
}

.searchField {
  width: 100%;
  text-align: center;
  height: 30px;
}

.tab1 {
  // margin-bottom: 2%;
  margin-top: 1%;
}

.mat-card-avatar {
  width: 60%;
  height: 20%;
}

.mat-card-header-text {
  display: none;
}

.btnClass {
  cursor: pointer;
  min-width: 140px;
  height: 35px;
  border-radius: 0px;
  padding: 0px;
  // border: solid 0.7px $primary-color-1-workspace;
  // background-color: #191919;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;

  &.workspace-btn-1 {
    background-color: #0D8390;
    margin-top: 1em;
    margin-right: 1em;
  }

  &.workspace-add-prjct-btn {
    background-color: #0D8390;
  }

  &.workspace-btn-2 {
    background-color: #0D8390;
  }

  &.workspace-btn-disabled {
    background-color: #ffffff;
    color: $primary-color-2-workspace;
    border: 1px solid $primary-color-2-workspace;
  }
}

.marketBtnClass {
  padding: 10px;
  cursor: pointer;
  // z-index: 1;
  width: 124px;
  height: 27px;
  border-radius: 1.4px;
  border: solid 0.7px #191919;
  background-color: #005283;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 5px;
  margin-right: 5px;
}

.openProjectBtnClass {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0;
  letter-spacing: normal;
  color: #ffffff;
  height: 32px;
  border: solid 0.6px #191919;
  background-color: #191919;
  border-radius: 0;
}

.openProjectFmt {
  background: black;
  width: 100%;
  padding: 0px;
  padding-left: 35%;
  padding-right: 35%;
  vertical-align: bottom;
}

.mat-card-actions {
  vertical-align: bottom;
  margin: 0;
}

.workspace-menu-item {
  height: 2.5em;
  font-weight: normal;
  font-size: 14px;
  line-height: 2.5em;
  margin: 0 0.7em;
  text-align: left;
  padding: 0;

  &:nth-child(n + 2) {
    border-top: 2px solid #c4c4c4;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  // position: relative;
  width: 90%;
  // margin-left: -9.8%;
  // margin-top: -20px;
  max-height: 50vh;
  //overflow-y: auto;

  .mat-card {
    height: 300px;
    width: 90%;
    padding: 0px;
    margin: 0px;
    // margin-left: 35%;
    margin-bottom: 20px;

    ::ng-deep .mat-card-header-text {
      margin: 0;

      .mat-card-title {
        margin-bottom: 0px;
      }
    }

    mat-card-header {
      padding: 5px 10px;
      justify-content: space-between;
      border-bottom: 2px solid #000;
      align-items: center;
      height: 45px;

      .workspace-project-name {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        // width: 75%;
      }

      .deleteBtnFmt {
        cursor: pointer;
      }

      // .deleteBtnContainerFmt {
      //   padding-left: 18%;
      //   padding-bottom: 10%;
      //   width: 100%;
      //   width: 20%;

      // }
    }

    mat-card-content {
      margin-bottom: 0px;

      .workspace-project-details {
        padding: 10px;
        border-spacing: 0 0px;

        .labelkey {
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          // line-height: 22px;
        }

        .projectPageText {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          // line-height: 22px;
        }
      }
    }

    .workspace-card-actions {
      // width: 92%;
      padding: 15px 10px;
      display: flex;
      justify-content: center;
      border-top: 2px solid #cbcbcb;

      button {
        min-width: 45%;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}

.wrapper::-webkit-scrollbar-track {
  border-radius: 12.5px;
  background-color: #cfe6e9;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(99, 102, 106);
  border-radius: 3px;
}

.openProjectRegionFmt {
  width: 96%;
  position: absolute;
  bottom: 2pt;
}

// .mat-card-content {
//   //height: 50%;
// }
// .ng-star-inserted {
//   //  width: 25%;
// }
.ta-results[_ngcontent-jvn-c3] {
  width: 25%;
}

.ta-item[_ngcontent-jvn-c3] {
  width: 100%;
}

.projectInfoCell1 {
  width: 20%;
  // padding-left: 2%;
}

.top-padding {
  padding-top: 2%;
  color: rgb(85, 84, 84);
}

.background-globe {
  width: 400px;
  height: 600px;
  padding-top: 30px;
  right: 0px;

  position: absolute;
}

.rectangle {
  bottom: 0%;
  width: 100%;
  z-index: 99;
}
// .project-tagline{
//   font-size: 14px;
//   font-weight: normal;
//   font-style: normal;
//   color: #383434;
// }