<div class="bg-imgs">
  <!-- <img class="welcome-bg" src="../../assets/welcome-black.png" /> -->
  <img class="rectangle" src="../../assets/bottom_color.png" />
  <div class="splash-image">
    <div class="splash-content">

      <!-- <div class="text-block">
        WELCOME TO <span style="color:#c6d70c">ASCEND</span>!
      </div> -->

      <!-- <div class="desc-block">
        Elevate, Accelerate and Amplify your Digital Ambitions and Journey
      </div> -->

    </div>
    <img class="rocket" src="../../../../assets/group-86-copy-3@3x.png" />
    <div class="splash-btn">
      <button mat-button class="next-btn" (click)="start('/project/workspace')">Start here</button>
      <button mat-button class="about-btn" (click)="start('/about')">About Ascend</button>
      <!-- <button mat-button class="marketing-btn" (click)="start('/tutorials')">Tutorials</button> -->
    </div>
  </div>
  <img class="round-globe" src="../../../../assets/group-6@3x.png" />
  <img class="welcome-bg" src="../../../../assets/group-4.png" />
  <div class="terms">
    <!-- <hr> -->
    <a class="terms-link" target="_blank" href="https://er45.deloitteonline.com/dol/dol_DisplayContent.aspx?Type=4">Terms of Use</a>
  </div>

  <div class="privacy">
  <a class="privacy-link" target="_blank" href="https://deloittenet.deloitte.com/system/Pages/DeloitteNet_Web_Privacy_statement.aspx">Privacy</a>
  </div>
</div>
