<!-- <p>scopes works!</p> -->
<div class="create-edit-page-wrapper">
  <div class="form-wrapper">
    <app-scope-generator-stepper [pits]="formSegment" (pitClicked)="nextClicked($event)"></app-scope-generator-stepper>

    <!--<div class="form-contaner" *ngIf="formData">-->
    <div class="form-contaner">
      <div class="form-info">
        <span>Required fields are denoted by an asterisk (<span class="required-asterisk">*</span>).</span>
      </div>
      <app-technology #form *ngIf="currentPitStop.label === SERVICE_SCOPE" [@enterAnimation]
        [tabName]="currentPitStop.label" [treeLevel]="2" (next)="onNextPit($event)" (prev)="onPrevPit($event)"
        [allData]="getTreeData(currentPitStop.label)"
        [savedData]="savedScopePitData?getSelectedData(currentPitStop.label):null">
      </app-technology>
      <app-technology #form *ngIf="currentPitStop.label === GEOGRAPHIC_SCOPE" [@enterAnimation]
        [tabName]="currentPitStop.label" [treeLevel]="2" (next)="onNextPit($event)" (prev)="onPrevPit($event)"
        [allData]="getTreeData(currentPitStop.label)"
        [savedData]="savedScopePitData?getSelectedData(currentPitStop.label) : null">
      </app-technology>
      <app-technology #form *ngIf="currentPitStop.label === PROCESS_SCOPE" [@enterAnimation]
        [tabName]="currentPitStop.label" [treeLevel]="2" (next)="onNextPit($event)" (prev)="onPrevPit($event)"
        [allData]="getTreeData(currentPitStop.label)"
        [savedData]="savedScopePitData?getSelectedData(currentPitStop.label):null">
      </app-technology>
      <app-technology #form *ngIf="currentPitStop.label === SYSTEM_SCOPE" [@enterAnimation]
        [tabName]="currentPitStop.label" [treeLevel]="2" (next)="onNextPit($event)" (prev)="onPrevPit($event)"
        [allData]="getTreeData(currentPitStop.label)"
        [savedData]="savedScopePitData?getSelectedData(currentPitStop.label):null">
      </app-technology>
      <!-- <h1>{{currentPitStop.label}}:{{CONVERSION_DESCRIPTION_TYPE}}</h1> -->


      <!-- <app-technology #form *ngIf="currentPitStop.label === CONVERSION_DESCRIPTION_TYPE" [@enterAnimation]
              (next)="onNextPit($event)" (prev)="onPrevPit($event)" [inputType]= "currentPitStop.label"
              ></app-technology>

              <app-technology #form *ngIf="currentPitStop.label === REPORT_DESCRIPTION_TYPE" [@enterAnimation]
              (next)="onNextPit($event)" (prev)="onPrevPit($event)" [inputType]= "currentPitStop.label"
              ></app-technology>

              <app-technology #form *ngIf="currentPitStop.label === INTERFACE_DESCRIPTION_TYPE" [@enterAnimation]
              (next)="onNextPit($event)" (prev)="onPrevPit($event)" [inputType]= "currentPitStop.label"
              ></app-technology> -->
    </div>
  </div>
</div>
