<div style="background-color: white;" class="filter-bar">

  <div class="filter-component"
    [ngStyle]="{'background-color': filterBarHeadColor, 'opacity': filters && filterApplicable() ? '0.6':'1'}">
    <img src="../../../assets/filter-icon.svg" height="20px" />
    <span class="medium-font">{{filterBarHead}}</span>
    <div class="right-triangle"
      [ngStyle]="{'border-left-color': filterBarHeadColor, 'opacity': filters && filterApplicable() ? '0.6':'1'}"></div>
  </div>

  <div *ngFor="let filter of filters;let p=index">
    <div class="industry-filter filter-component" *ngIf="filter?.filterValues?.length > 0">
      <button mat-button
        (click)="filterButtonClicked($event,filter.filterValues,filter.selectedFilters,filter.type,filter.title)"
        (mouseover)="onHover(filter.selectedFilters,filter.title)"
        matTooltip="{{titleL0}}{{hoveredContentL0}}&#13;{{titleL1}}{{hoveredContentL1}}&#13;{{titleL2}}{{hoveredContentL2}}"
        matTooltipClass="filter-tooltip" matTooltipPosition="below">
        {{filter.selectedFilters.L0.length==0?"All":""}} <span
          [ngStyle]="{'text-transform': filter.selectedFilters.L0.length==0?'lowercase':'inherit'}">{{filter.filterButtonTitle}}</span>
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>

  </div>

  <div class="industry-filter filter-component" *ngIf="filters && filterApplicable()">
    <span class="filter-disable">Filters are not applicable for {{tabName}} tab</span>
  </div>
</div>
