<form #projectForm="ngForm" (submit)="onNext(projectForm)" class="project-add-edit-form-wrapper">
  <div class="project-details-scroller">
    <div class="form-info">
      <span>Required fields are denoted by an asterisk (<span class="required-asterisk">*</span>).</span>
    </div>

    <div style="padding-bottom: 10px;">
      <mat-checkbox [checked]="formData.logoConsentFlag"
        (change)="formData.logoConsentFlag = !formData.logoConsentFlag">
        Project Logo Consent
      </mat-checkbox>
    </div>

    <div class="upload-row">
      <div class="file-upload-wrapper">
        <input #upLogo hidden="true" type="file" name="clientLogoDoc" accept="image/*" (change)="uploadFile($event)"
          [disabled]="!formData.logoConsentFlag">
        <span (click)="upLogo.click()" class="file-upload-label">Upload client logo</span>
        <div class="uploaded-file-name" *ngIf="formData.logoFile">{{formData.logoFile.name}}</div>
      </div>
<!-- 
      <div class="file-upload-wrapper">
        <input #upDocs hidden="true" type="file" name="clientDocs" accept=".xls,.xlsx,.pdf,.doc,.docx"
          (change)="uploadDocuments($event)">
        <span (click)="upDocs.click()" class="file-upload-label">Upload documents</span>
        <div class="uploaded-file-name" *ngIf="formData.documents">{{formData.documents.name}}</div>
      </div> -->
    </div>

    <div>
      <mat-label><span class="required-asterisk">*</span> Project name</mat-label>
      <mat-form-field class="" appearance="outline" floatLabel="never">
        <input matInput required name="projectName" [disabled]="isEditable" #projectName='ngModel'
          [(ngModel)]="formData.projectName">
        <mat-error *ngIf="projectForm.submitted && projectName?.errors?.required">
          Project name is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-label><span class="required-asterisk">*</span> Description</mat-label>
      <mat-form-field appearance="outline" floatLabel="never">
        <textarea matInput rows="6" required name="projectDesc" #projectDesc='ngModel'
          [(ngModel)]="formData.projectDescription"></textarea>
        <mat-error *ngIf="projectForm.submitted && projectDesc?.errors?.required">
          Project description is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-label><span class="required-asterisk">*</span> Client name </mat-label>
      <mat-form-field class="" appearance="outline" floatLabel="never">
        <input matInput [(ngModel)]="formData.clientName" [disabled]="isEditable" name="clientName"
          #clientName='ngModel' required>
        <mat-error *ngIf="projectForm.submitted && clientName?.errors?.required">
          Client name is required.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- <div>
    <mat-label><span class="required-asterisk">*</span> Engagement details</mat-label>
    <div>
      <mat-form-field appearance="outline" floatLabel="never">

        <mat-select required multiple name="projectType" [(ngModel)]="formData.projectType" #projectType='ngModel'>
          <mat-option *ngFor="let projectIndType of typeOfProject" [value]="projectIndType">{{projectIndType}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="projectForm.submitted && !formData.projectType">
          Engagement details is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div> -->

    <div>
      <mat-label><span class="required-asterisk">*</span> Charge code</mat-label>
      <mat-form-field class="" appearance="outline" floatLabel="never">
        <input matInput required name="chargeCode" #chargeCode='ngModel' [(ngModel)]="formData.chargeCode">
        <mat-error *ngIf="projectForm.submitted && chargeCode?.errors?.required">
          Charge code is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-label><span class="required-asterisk">*</span> Project manager/Administrator</mat-label>
      <mat-form-field appearance="outline" floatLabel="never">
        <!--Earlier it was drop down which was later replaced by type ahead search-->
        <!--<mat-select
                required
                [(ngModel)]="formData.projectManager"
                #projectManager='ngModel'
                name="projectManager"
            >
              <mat-option
                *ngFor="let manager of formOptions?.managersList"
                [value]="manager.userId">{{manager.userName}}</mat-option>
            </mat-select>-->
        <input matInput required placeholder="Enter email address" aria-label="State"
          pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,4}$" type="email" name="projectManager"
          [matAutocomplete]="auto" [formControl]="searchManager">

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let user of filteredUser" (click)="setSelectedManager(user)" [value]="user.userId">
              {{user.userName}}({{user.userId}})
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <mat-error *ngIf="projectForm.submitted && searchManager?.invalid && searchManager?.errors?.required">
          Project manager/Administrator is required.
        </mat-error>
        <mat-error *ngIf="projectForm.submitted && searchManager?.invalid && searchManager?.errors?.pattern">
          Invalid format for email Address
        </mat-error>
      </mat-form-field>
    </div>
    <!--
    <div >
        <mat-checkbox
            class="checkbox-seperator"
            [(ngModel)]="formData.makeAdmin"
            name="makeAdmin"
            #makeAdmin='ngModel'
        >Make Administrator</mat-checkbox>
    </div>

    <div>
        <mat-label>Additional Administrator</mat-label>
        <mat-form-field class="" appearance="outline" floatLabel="never">
            <input
                matInput
                name="additionalAdmin"
                [(ngModel)]="formData.additionalAdmin"
                #additionalAdmin='ngModel'
            >
        </mat-form-field>
    </div>
    -->
    <div>
      <mat-label><span class="required-asterisk">*</span> Lead P/D</mat-label>
      <mat-form-field floatLabel="never" appearance="outline">
        <!--Earlier it was drop down which was later replaced by type ahead search-->
        <!--<mat-select
                required
                name="leadPD"
                [(ngModel)]="formData.leadPD"
                #leadPD='ngModel'
            >
                <mat-option
                *ngFor="let leadPD of formOptions?.leadPD"
                [value]="leadPD.userId">{{leadPD.userName}}</mat-option>
            </mat-select>-->
        <input matInput required placeholder="Enter email address" aria-label="State" name="leadPD"
          pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,4}$" type="email" [matAutocomplete]="auto1"
          [formControl]="searchLeadPD">
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let user of filteredPDUser" (click)="setSelectedLeadPD(user)" [value]="user.userId">
              {{user.userName}}({{user.userId}})
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <mat-error *ngIf="projectForm.submitted && searchLeadPD?.invalid && searchLeadPD?.errors?.required">
          Lead P/D is required.
        </mat-error>
        <mat-error *ngIf="projectForm.submitted && searchLeadPD?.invalid && searchLeadPD?.errors?.pattern">
          Invalid format for email Address
        </mat-error>

      </mat-form-field>
    </div>
    <div class="multi-select-div" [ngClass]="{
        'multi-select-error-div': (
            projectForm.submitted && (!formData.offeringPortfolio?.length||!formData.offering?.length)||
            projectForm.submitted && formData.offeringPortfolio?.length && formData.offering?.length && !(offeringPortfolioCombination())
        )
      }">
      <div class="multi-select-div-column">
        <mat-label><span class="required-asterisk">*</span> Offering portfolio</mat-label>
        <div *ngFor="let pfOff of formOptions?.portfolioOfferings">
          <mat-checkbox class="example-margin" required [checked]="getPortfolioOfferingsState(pfOff.portfolioName)"
            (change)="portfolioOfferingsChanged($event.checked,pfOff.portfolioName)">
            {{pfOff.portfolioName}}
          </mat-checkbox>
        </div>
      </div>
      <div class="multi-select-div-column">
        <mat-label><span class="required-asterisk">*</span> Offering</mat-label>
        <div *ngFor="let offering of formOptions?.offerings">
          <mat-checkbox class="example-margin" required [checked]="getOfferingState(offering)"
            (change)="offeringChange($event.checked,offering)">
            {{offering}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="form-error">
      <mat-error *ngIf="projectForm.submitted && (!formData.offeringPortfolio?.length
                                                    ||!formData.offering?.length)">
        Offering portfolio and offering is required.
      </mat-error>
    </div>
    <div class="form-error"
      *ngIf="projectForm.submitted && formData.offeringPortfolio?.length && formData.offering?.length">
      <mat-error *ngIf="!(offeringPortfolioCombination())">
        For some of the selected Offering portfolio , offering is not selected.
      </mat-error>
    </div>
    <!--
    <div>
        <mat-label><span class="required-asterisk">*</span> Offering portfolio</mat-label>
        <mat-form-field appearance="outline" floatLabel="never">
            <mat-select
                required
                multiple
                name="offeringPortfolio"
                [(ngModel)]="formData.offeringPortfolio"
                #offeringPortfolio='ngModel'

            >
                <mat-option
                *ngFor="let pfOff of formOptions?.portfolioOfferings"
                (click)="onPortfolioChanged(pfOff.portfolioName)"
                [value]="pfOff.portfolioName">{{pfOff.portfolioName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="projectForm.submitted && offeringPortfolio?.errors?.required">
                Offering portfolio is required.
            </mat-error>
          </mat-form-field>
    </div>

    <div>
        <mat-label><span class="required-asterisk">*</span> Offering</mat-label>
        <mat-form-field appearance="outline" floatLabel="never">
            <mat-select
                required
                multiple
                name="offering"
                #offering='ngModel'
                [(ngModel)]="formData.offering"
            >
                <mat-option
                *ngFor="let offering of formOptions?.offerings"
                [value]="offering">{{offering}}</mat-option>
            </mat-select>
            <mat-error *ngIf="projectForm.submitted && offering?.errors?.required">
                Offering is required.
            </mat-error>
          </mat-form-field>
    </div>
    -->
    <div>
      <mat-label><span class="required-asterisk">*</span> ERP package</mat-label>
      <mat-form-field appearance="outline" floatLabel="never">
        <mat-select required name="erpPackage" [(ngModel)]="formData.erpPackage" #erpPackage='ngModel'>
          <mat-option *ngFor="let erpPackage of formOptions?.erpPackage" [value]="erpPackage">{{erpPackage}}
          </mat-option>
        </mat-select>
        <!--<mat-checkbox
                [checked]="formData.erpPackage.indexOf('EBS')>-1"
                class="checkbox-seperator"
                (change)="erpChecked($event, 'EBS')"
            >EBS</mat-checkbox>
            <mat-checkbox
                [checked]="formData.erpPackage.indexOf('SAP')>-1"
                class="checkbox-seperator"
                (change)="erpChecked($event, 'SAP')"
            >SAP</mat-checkbox>
            <mat-checkbox
                [checked]="formData.erpPackage.indexOf('JDE')>-1"
                class="checkbox-seperator"
                (change)="erpChecked($event, 'JDE')"
            >JDE</mat-checkbox>-->
        <mat-error *ngIf="projectForm.submitted && erpPackage?.errors?.required">
          <!-- <mat-error *ngIf="projectForm.submitted && !formData.erpPackage?.length"> -->
          ERP package is required.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- <div>
    <mat-label><span class="required-asterisk">*</span> Country</mat-label>
    <mat-form-field appearance="outline" floatLabel="never">
      <mat-select required name="country" [(ngModel)]="formData.country" #country='ngModel'>
        <mat-option *ngFor="let country of formOptions?.country" [value]="country">{{country}}</mat-option>
      </mat-select>
      <mat-error *ngIf="projectForm.submitted && country?.errors?.required">
        Country is required.
      </mat-error>
    </mat-form-field>
  </div> -->

    <div>
      <mat-label><span class="required-asterisk">*</span> Revenue (in Dollars) </mat-label>
      <mat-form-field appearance="outline" floatLabel="never">
        <mat-select required name="revenue" [(ngModel)]="formData.revenue" #revenue='ngModel'>
          <mat-option *ngFor="let revenue of formOptions?.companyRevenue" [value]="revenue">{{revenue}}</mat-option>
        </mat-select>
        <mat-error *ngIf="projectForm.submitted && revenue?.errors?.required">
          Revenue (in Dollars) is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="multi-select-div client-checkbox-font" [ngClass]="{
    'multi-select-error-div': (projectForm.submitted && (!formData.industry?.length||!formData.sector?.length)||
    projectForm.submitted && formData.industry?.length && formData.sector?.length && !(industrySectorCombination())
    )
  }">
      <div class="multi-select-div-column">
        <mat-label><span class="required-asterisk">*</span> Industry</mat-label>
        <div *ngFor="let industryList of formOptions?.industrySector">
          <mat-checkbox class="example-margin" required [checked]="getIndustriesState(industryList.industry)"
            (change)="industriesChanged($event.checked,industryList.industry)">
            {{industryList.industry}}
          </mat-checkbox>
        </div>
      </div>
      <div class="multi-select-div-column">
        <mat-label><span class="required-asterisk">*</span> Sector</mat-label>
        <div *ngFor="let indSector of formOptions?.sector">
          <mat-checkbox class="example-margin" required [checked]="getSectorState(indSector)"
            (change)="sectorChange($event.checked,indSector)">
            {{indSector}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="form-error">
      <mat-error *ngIf="projectForm.submitted && (!formData.industry?.length
                                                ||!formData.sector?.length)">
        Industry and sector is required.
      </mat-error>
    </div>
    <div class="form-error" *ngIf="projectForm.submitted && formData.industry?.length && formData.sector?.length">
      <mat-error *ngIf="!(industrySectorCombination())">
        For some of the selected Industries , sector is not selected.
      </mat-error>
    </div>

    <div>
      <mat-label><span class="required-asterisk">*</span> Scope of service</mat-label>
      <mat-form-field appearance="outline" floatLabel="never">
        <mat-select [(ngModel)]="formData.scopeservice" name="scopeservice" #scopeservice="ngModel" required multiple>
          <mat-option *ngFor="let scpSrvs of formOptions?.scopeOfServices" [value]="scpSrvs">{{scpSrvs}}</mat-option>
        </mat-select>
        <mat-error *ngIf="projectForm.submitted && scopeservice?.errors?.required">
          Scope of service is required.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="action-button-wrapper">
    <button class="btn-secondary-project-create" type="button" (click)="goBack()"> Cancel </button>
    <button class="btn-primary-project-create" type="submit"> Submit </button>
  </div>

</form>