<div style="background-color: white;" class="tool-bar">
  <div class="tool-component" [ngStyle]="{'background-color': bgColor,'minWidth':'80px'}">
    <span class="medium-font">Tools</span>
  </div>
  <div class="tool-list">
    <div class="tool-component" *ngFor="let tool of tools;let p=index">
      <!-- <button mat-button (click)="openToolsbarPopup(tool)">Test button</button> -->
      <button mat-button [ngStyle]="{'background-color': bgColor , 'border-color' : bgColor}"
        (click)="openToolsbarPopup(tool)" matTooltip="{{toolDescription}}"
        matTooltipClass="filter-tooltip">
        {{tool.name}}
      </button>
    </div>
  </div>
</div>
<!-- (mouseover)="onHover(tool.description)" -->
