
.tool-bar{
    display: flex;
    margin: 15px auto;
    max-width: 100%;

    .tool-list{
        display: flex;
        overflow-x: auto;
    }

    .tool-component{
        padding: 4px 0px 4px 10px;
        // min-width: 80px;
        text-align: center;

        span{
            padding-right: 10px;
        }

        button{
            font-size: 12px;
            font-weight: 600;
            border: 1.5px solid;
            border-radius: 2px;
        }
        i{
            margin-left: 20px;
        }
    }
   
}

.medium-font{
    font-size: 12px;
    line-height:25pt;
    font-weight:500;
}

.filter-tooltip{
    background: white;
    color: #000 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}

.mat-tooltip  {
    white-space: pre-line    !important;
    background-color: lightgray !important;
}