<div class="project-popup">
    <div class="popup-title">
        {{projectInfo?.projectName}}
        <div class="close" (click)="closePopup()">
            <img src="../../../../../assets/Cross_POS.svg"/>
        </div>
    </div>
    
    <div>
        <img src="../../../../../assets/images/project-planning-header@2x.png" class="popup-image"/>
    </div>
    <div class="popup-body">
        <div>
            <span>Package: </span>
            <span> {{projectInfo?.erpPackage}}</span>
        </div>
        <!-- <div>
            <span>Function: </span>
            <span> {{projectInfo?.scopeservice}}</span>
        </div> -->
        <div>
            <span>Industry: </span>
            <span> {{projectInfo?.industry}}</span>
        </div>        
        <div>
            <span>Sector: </span>
            <span> {{projectInfo?.sector}}</span>
        </div>
        <!-- <div>
            <span>Business Processes L1: </span>
            <span> {{projectInfo?.businessProcess}}</span>
        </div> -->
    </div>
</div>