.filter-bar {
  display: flex;
  background-color: white;

  .filter-component {
    padding: 0.25em 2em 0.25em 1em;
    position: relative;

    img {
      transform: rotateY(180deg);
      vertical-align: middle;
    }

    .medium-font {
      padding-left: 10px;
      vertical-align: middle;
    }

    button {
      font-size: 12px;
      font-weight: 600;
    }

    .filter-disable {
      font-size: 12px;
      font-weight: 600;
      opacity: 0.45;
      line-height: 2.7;
    }

    i {
      margin-left: 20px;
    }

    .right-triangle {
      width: 0;
      height: 0;
      border-top: 0.5em solid transparent;
      border-bottom: 0.5em solid transparent;
      border-left: 0.5em solid;
      position: absolute;
      right: -0.5em;
      top: 0.75em;
    }
  }

  .mat-button-wrapper {
    > * {
      vertical-align: inherit !important;
    }
  }
}

.medium-font {
  font-size: 14px;
  line-height: 25pt;
  font-weight: 500;
}

.filter-tooltip {
  background: white;
  color: #000 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

.mat-tooltip {
  white-space: pre-line !important;
  background-color: lightgray !important;
}
.filter-bar-text{
 //position: absolute;
  //width: 1514px;
  height: 52px;
  left: 56px;
  top: 279px;
  margin-left: 45px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  
}
.filter-text{
 // position: absolute;
  width: 1006px;
  height: 25px;
  margin-top: -50px;
  margin-left: 42px;  
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #000000;
}
.filter-number{
  margin-top: -55px;
  margin-left: -2px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}
.filter-image{
  //position: absolute;
  height: 61px;
  margin-left: -26px;
  margin-top: -2px;
  //background: #75787B;
  border: 0px solid #FFFFFF;
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.first-filter-text{
  width: 88px;
  height: 19px;
  margin-top: -131px;
  margin-left: 47px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #000000;
}
.first-filter-bar-text{
  //position: absolute;
   width: 210px;
   height: 52px;
   left: 56px;
   top: 279px;
   background: #FFFFFF;
   //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
   border-radius: 4px;
   
 }
 .first-filter-number{
  //position: absolute;
  transform: translate(-0.9%, -241%);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}
.filter-vertical{
  margin-left: 173px;
    margin-top: -37px;
    height: 35px;
    width: 2px;
    background: #0097A9;
}