<div [ngStyle]="{'margin-left':router.url==='/home'? '42px':'0px'}" class="filter-bar">

  <div class="filter-component" *ngIf="router.url!='/home'"
    [ngStyle]="{'background-color': filterBarHeadColor ? filterBarHeadColor : 'rgb(0,151,169,0.2)', 'opacity': filterLoaded && filters?.length == 0 ? '0.6':'1'}">
    <img src="../../../assets/filter-icon.svg" height="20px" />
    <span class="medium-font">{{filterBarHead}}</span>
    <div class="right-triangle"
      [ngStyle]="{'border-left-color': filterBarHeadColor ? filterBarHeadColor : 'rgb(0,151,169,0.2)', 'opacity': filterLoaded && filters?.length == 0 ? '0.6':'1'}">
    </div>
  </div>
  <div class="first-filter-bar-text" *ngIf="router.url==='/home'">
    <img src="../../../../../assets/Ellipse 1.png" class="filter-image"  title="abc">
    <p class="first-filter-number">1</p>
    <p class="first-filter-text">Select Filters</p>
    <div class="filter-vertical"></div>
  </div>
  <div *ngFor="let filter of filters;let p=index" style="margin-top: 2.5px;">
    <div class="industry-filter filter-component" *ngIf="filter?.l1Filter?.filterValues?.length > 0">
      <button mat-button (click)="filterClicked($event, filter)" (mouseover)="onHover(filter)"
        matTooltip="{{hoveredString}}" matTooltipClass="filter-tooltip" matTooltipPosition="below">
        <span style="font-size: 14px;">{{filter.title}}</span>
        <i class="fas fa-chevron-down"></i>
      </button>
    </div>
  </div>
  <div class="industry-filter filter-component" *ngIf="filterLoaded && filters?.length == 0">
    <span class="filter-disable">Filters are not applicable for {{tabName}} tab</span>
  </div>
</div>
<!-- style="display: block;margin: 10px 0;content: ' ';" -->
  
    <br>
    <div class="filter-bar-text" *ngIf="router.url==='/home'">
      <img src="../../../../../assets/Ellipse 1.png" class="filter-image"  title="abc">
      <p class="filter-number">2</p>
      <p class="filter-text">Select a train stop below to start your journey</p>
    </div>
  
