<app-filter-bar (parentEmitter)="eventEmit($event)" [filters]="filters" filterBarHead="Adv filters"
[filterBarHeadColor]="bgColor" *ngIf="validateTabDataService?.technology?.length>0 || validateTabDataService.automationContentsJson[0]"></app-filter-bar>
<div class="feature" *ngIf="validateTabDataService.automationContentsJson[0]">
  <div *ngIf="validateTabDataService.automationContentsJson[0].tabContent.length > 0">
    <div class="tab-body">
      <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let j of validateTabDataService.automationContentsJson[0].tabContent">
          <mat-expansion-panel-header class="center" >
            <!-- [ngStyle]="{'color':j.L1enabledflag=='N' && view == 'PROJECT'?'grey':'black', 'background-color':j.L1enabledflag=='N' && view == 'PROJECT'?'whitesmoke':'white'}" -->
            <div class="header-1">
              {{ j.L1value }}
            </div>
            <div class="document-button">
              <button *ngIf="j.L1doclink" (click)="preview(j.L1doclink)" mat-flat-button class="tab-button">
                <img class="file-btn" src="../../../assets/File_DOC_POS.svg" />
              </button>
            </div>
            <!-- <div *ngIf="view == 'PROJECT'" class="add-cart-button">
              <button *ngIf="j.L1enabledflag == 'Y'" (click)="toggle(j, undefined, undefined)" mat-flat-button
                class="tab-button">
                <img src="../../../assets/Cross_POS.svg" />
                <strong> Remove all</strong>
              </button>

              <button *ngIf="j.L1enabledflag == 'N'" (click)="toggle(j, undefined, undefined)" mat-flat-button
                class="tab-button">
                <img src="../../../assets/Plus_POS.svg" />
                <strong> Add all</strong>
              </button>
            </div> -->
          </mat-expansion-panel-header>

          <mat-accordion class="sub-accordian">
            <mat-expansion-panel *ngFor="let comp of j.L2grp">
              <mat-expansion-panel-header class="center" >
                <!-- [ngStyle]="{'color': (j.L1enabledflag=='N' || comp.L2enabledflag=='N' ) && view == 'PROJECT'?'grey':'black','background-color': (j.L1enabledflag=='N' || comp.L2enabledflag=='N' ) && view == 'PROJECT'?'whitesmoke':'white'}" -->
                <div class="header-2">{{ comp.L2value }}</div>
                <div class="document-button">
                  <button *ngIf="comp.L2doclink" (click)="preview(comp.L2doclink)" mat-flat-button class="tab-button">
                    <img class="file-btn" src="../../../assets/File_DOC_POS.svg" />
                  </button>
                </div>
                <!-- <div *ngIf="view == 'PROJECT'" class="add-cart-button">
                  <button *ngIf="comp.L2enabledflag == 'Y'" (click)="toggle(comp, j, undefined)" mat-flat-button
                    class="tab-button">
                    <img src="../../../assets/Cross_POS.svg" />
                    <strong> Remove all</strong>
                  </button>

                  <button *ngIf="comp.L2enabledflag == 'N'" (click)="toggle(comp, j, undefined)" mat-flat-button
                    class="tab-button">
                    <img src="../../../assets/Plus_POS.svg" />
                    <strong> Add all</strong>
                  </button>
                </div> -->
              </mat-expansion-panel-header>

              <!-- <hr /> -->

              <div class="center" *ngFor="let l of comp.L3grp">
                <hr />
                <div class="heading-3">
                  <!-- [ngStyle]="{'color': (j.L1enabledflag=='N' || comp.L2enabledflag=='N' || l.botenabledFlag=='N' ) && view == 'PROJECT'?'grey':'black','background-color': (j.L1enabledflag=='N' || comp.L2enabledflag=='N' || l.botenabledFlag=='N' ) && view == 'PROJECT'?'whitesmoke':'white'}" -->
                  <div class="title width-40">
                    {{ l.botname }}
                  </div>

                  <div class="title-type">
                    {{ j.technology }}
                  </div>
                  <div class="document-button">
                    <button *ngIf="l.botdoclink" (click)="preview(l.botdoclink)" mat-flat-button class="tab-button">
                      <img class="file-btn" src="../../../assets/File_DOC_POS.svg" />
                    </button>
                  </div>
                  <!-- <div *ngIf="view == 'PROJECT'" class="add-cart-button">
                    <button *ngIf="l.botenabledFlag == 'Y'" (click)="toggle(l, comp, j)" mat-flat-button
                      class="tab-button">
                      <img src="../../../assets/Cross_POS.svg" />
                      <strong> Remove</strong>
                    </button>

                    <button *ngIf="l.botenabledFlag == 'N'" (click)="toggle(l, comp, j)" mat-flat-button
                      class="tab-button">
                      <img src="../../../assets/Plus_POS.svg" />
                      <strong> Add</strong>
                    </button>
                  </div> -->
                </div>
                <!-- <hr /> -->
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
