<!-- <div class="entityDetWrapper"> -->
  <!-- <div class="entityName">
    {{activity?.entityName}}
  </div> -->
  <!-- <div class="entityDesc">
    <div *ngIf="activity?.entityDescription?.split('~$').length>1">
      <div *ngFor="let j of activity?.entityDescription.split('~$')" style="display: inline-flex;width: 100%;">
        <div>
          <mat-icon matListIcon style=" font-size: 7px; height: 0;">lens</mat-icon>
        </div>
        <div>
          {{j}}
        </div>
      </div>
    </div>
    <div *ngIf="activity?.entityDescription?.split('~$').length==1">
      {{activity?.entityDescription}}
    </div>
  </div> -->
  <!-- <div class="heading" [ngStyle]="{'color':textColorScheme}">
    Deliverables
  </div> -->
<!-- </div> -->
<mat-tab-group #tabs class="feature-tabs" [ngClass]="{
    'imagine': urlParams?.phaseName?.toLowerCase()=='imagine',
    'deliver': urlParams?.phaseName?.toLowerCase()=='deliver',
    'insights': urlParams?.phaseName?.toLowerCase() =='insights',
    'run': urlParams?.phaseName?.toLowerCase()=='run'
  }" [selectedIndex]="defaultTabIndex" animationDuration="100ms" (selectedTabChange)="tabChange($event)">
  <mat-tab *ngFor="let tab of buttonDetails;let i=index"
    label="{{ currentTabCode == tab.code ? tab.displayName + tabCount : tab.displayName}}">
    <div class="tab-body">
      <app-tab-body *ngIf="currentTabCode == tab.code" [tabObj]="tab" [functionPackageURL]="functionPackageURL"
        [activityId]="activity?.entityId" [colorScheme]="colorScheme">
      </app-tab-body>
    </div>
  </mat-tab>
</mat-tab-group>
