<app-filter-bar (parentEmitter)="eventEmit($event)" [filters]="filters" filterBarHead="Adv filters"
    [filterBarHeadColor]="bgColor"
    *ngIf="( advancedFilter?.length > 0 ) && elementLinkValue?.ADV_FILTER_APPLICABLE == 'Y'"></app-filter-bar>

<div class="feature" *ngIf="tabData[0]">
    <div *ngIf="tabData[0].tabContent.length > 0">
        <div class="tab-body">
            <mat-accordion multi="true" class="sub-accordian">
                <mat-expansion-panel *ngFor="let level1 of tabData[0].tabContent"
                    [disabled]="getLineType(level1) !='ACCORDION'">

                    <mat-expansion-panel-header class="center" [ngStyle]="getLevelColor(level1)">
                        <div class="header-1">
                            {{ level1[elementLinkValue.L1_VALUE] }}
                        </div>

                        <div class="document-button" *ngIf="level1[elementLinkValue.L1_DOC_LINK]">
                            <button mat-flat-button class="tab-button">
                                <img class="file-btn" src="../../../assets/File_DOC_POS.svg" (click)="preview(level1[elementLinkValue.L1_DOC_LINK])"/>
                            </button>
                        </div>

                        <div *ngIf="view == 'PROJECT' && elementLinkValue.CONTENT_LEVEL >= 1" class="add-cart-button">

                            <button *ngIf="level1[elementLinkValue.L1_ENABLED_FLAG] == 'N'"
                                (click)="buttonClicked(undefined, level1, 'Y', 'N')" mat-flat-button class="tab-button">
                                <img src="../../../assets/Plus_POS.svg" />
                                <strong> Add <ng-container *ngIf="elementLinkValue.CONTENT_LEVEL > 1">all</ng-container>
                                    </strong>
                            </button>

                            <button *ngIf="level1[elementLinkValue.L1_ENABLED_FLAG] == 'Y'"
                                (click)="buttonClicked(undefined, level1, 'N', 'N')" mat-flat-button class="tab-button">
                                <img src="../../../assets/Cross_POS.svg" />
                                <strong> Remove <ng-container *ngIf="elementLinkValue.CONTENT_LEVEL > 1">all
                                    </ng-container></strong>
                            </button>
                        </div>
                    </mat-expansion-panel-header>

                    <!-- If L1 is not last level -->
                    <mat-accordion class="sub-accordian" *ngIf="getLineType(level1)==='ACCORDION'" multi="true">
                        <ng-container *ngFor="let level2 of level1[elementLinkValue.L2_GROUP_NAME]">
                            <!-- If L2 is not last level -->
                            <mat-expansion-panel *ngIf="getLineType(level2)==='ACCORDION'">
                                <mat-expansion-panel-header class="center" [ngStyle]="getLevelColor(level2)">
                                    <div class="header-2">{{level2[elementLinkValue.L2_VALUE]}}</div>

                                    <div class="document-button" *ngIf="level2[elementLinkValue.L2_DOC_LINK]">
                                        <button mat-flat-button class="tab-button">
                                            <img class="file-btn" src="../../../assets/File_DOC_POS.svg" (click)="preview(level2[elementLinkValue.L2_DOC_LINK])"/>
                                        </button>
                                    </div>

                                    <div *ngIf="view == 'PROJECT' && elementLinkValue.CONTENT_LEVEL >= 2"
                                        class="add-cart-button">
                                        <button *ngIf="level2[elementLinkValue.L2_ENABLED_FLAG] == 'Y'"
                                            (click)="buttonClicked(level1, level2, 'N', 'Y')" mat-flat-button
                                            class="tab-button">
                                            <img src="../../../assets/Cross_POS.svg" />
                                            <strong> Remove <ng-container *ngIf="elementLinkValue.CONTENT_LEVEL > 2">all
                                                </ng-container></strong>
                                        </button>

                                        <button *ngIf="level2[elementLinkValue.L2_ENABLED_FLAG] == 'N'"
                                            (click)="buttonClicked(level1, level2, 'Y', 'Y')" mat-flat-button
                                            class="tab-button">
                                            <img src="../../../assets/Plus_POS.svg" />
                                            <strong> Add <ng-container *ngIf="elementLinkValue.CONTENT_LEVEL > 2">all
                                                </ng-container></strong>
                                        </button>
                                    </div>
                                </mat-expansion-panel-header>

                                <!-- L3 level -->
                                <div *ngFor="let level3 of level2[elementLinkValue.L3_GROUP_NAME]">
                                    <hr />
                                    <div class="heading-3" [ngStyle]="getLevelColor(level3)">
                                        <div class="title"  
                                            [ngClass]="{
                                                'width-40': level1[elementLinkValue.ADV_FILTER_TAG] && elementLinkValue.ADV_FILTER_LEVEL==1,
                                                 'description': !level3[elementLinkValue.L3_DESCRIPTION]
                                            }"
                                            *ngIf="level3[elementLinkValue.L3_VALUE]">
                                            {{level3[elementLinkValue.L3_VALUE]}}
                                        </div>
                                        <div class="title-type"
                                            *ngIf="level1[elementLinkValue.ADV_FILTER_TAG] && elementLinkValue.ADV_FILTER_LEVEL==1">
                                            {{ level1[elementLinkValue.ADV_FILTER_TAG] }}</div>
                                        <div class="title-type" *ngIf="level3[elementLinkValue.L3_OBJECT_TYPE]">
                                            {{ level3[elementLinkValue.L3_OBJECT_TYPE] }}</div>
                                        <div class="description" *ngIf="level3[elementLinkValue.L3_DESCRIPTION]">
                                            {{ level3[elementLinkValue.L3_DESCRIPTION] }}</div>
                                        <div></div>
                                        <div class="document-button" *ngIf="level3[elementLinkValue.L3_DOC_LINK]">
                                            <button mat-flat-button class="tab-button">
                                                <img class="file-btn" src="../../../assets/File_DOC_POS.svg" (click)="preview(level3[elementLinkValue.L3_DOC_LINK])"/>
                                            </button>
                                        </div>
                                        <div *ngIf="view == 'PROJECT' && elementLinkValue.CONTENT_LEVEL >= 3"
                                            class="add-cart-button">
                                            <button *ngIf="level3[elementLinkValue.L3_ENABLED_FLAG] == 'Y'"
                                                (click)="buttonClicked(level1, level3, 'N', 'Y')" mat-flat-button
                                                class="tab-button">
                                                <img src="../../../assets/Cross_POS.svg" />
                                                <strong> Remove</strong>
                                            </button>

                                            <button *ngIf="level3[elementLinkValue.L3_ENABLED_FLAG] == 'N'"
                                                (click)="buttonClicked(level1, level3, 'Y', 'Y')" mat-flat-button
                                                class="tab-button">
                                                <img src="../../../assets/Plus_POS.svg" />
                                                <strong> Add</strong>
                                            </button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </mat-expansion-panel>

                            <!-- If L2 is last level -->
                            <div *ngIf="getLineType(level2)!='ACCORDION'">
                                <hr>
                                <div class="heading-3" [ngStyle]="getLevelColor(level2)">
                                    <div class = "title" [ngClass]="{'description': !level2[elementLinkValue.L2_DESCRIPTION]}">{{level2[elementLinkValue.L2_VALUE]}}</div>
                                    <div></div>
                                    <div class="document-button">
                                        <button *ngIf="level2[elementLinkValue.L2_DOC_LINK]" mat-flat-button
                                            class="tab-button">
                                            <img class="file-btn" src="../../../assets/File_DOC_POS.svg" (click)="preview(level2[elementLinkValue.L2_DOC_LINK])"/>
                                        </button>
                                    </div>
                                    <div *ngIf="view == 'PROJECT' && elementLinkValue.CONTENT_LEVEL >= 2"
                                        class="add-cart-button">
                                        <button *ngIf="level2[elementLinkValue.L2_ENABLED_FLAG] == 'Y'"
                                            (click)="buttonClicked(level1, level2, 'N', 'Y')" mat-flat-button
                                            class="tab-button">
                                            <img src="../../../assets/Cross_POS.svg" />
                                            <strong> Remove</strong>
                                        </button>

                                        <button *ngIf="level2[elementLinkValue.L2_ENABLED_FLAG] == 'N'"
                                            (click)="buttonClicked(level1, level2, 'Y', 'Y')" mat-flat-button
                                            class="tab-button">
                                            <img src="../../../assets/Plus_POS.svg" />
                                            <strong> Add</strong>
                                        </button>
                                    </div>
                                </div>

                                <div [ngStyle]="getLevelColor(level2)" class="description justify-align"
                                    *ngIf="level2[elementLinkValue.L2_DESCRIPTION]"
                                    [ngClass]="{ explore: view == 'EXPLORE', project: view == 'PROJECT'}">
                                    {{level2[elementLinkValue.L2_DESCRIPTION]}}
                                    <br>
                                </div>
                            </div>
                        </ng-container>
                    </mat-accordion>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>