<div class="psg-container">
  <!-- <div class="sub-container psg-left"> -->
  <div class="globe">
    <!-- globe image -->
  </div>
  <!-- </div> -->
  <div class="sub-container psg-right">
    <div class="page-logo">
      <button mat-button class="top-bar-home-btn" (click)="goBack()">Home</button>
      <button mat-button [matMenuTriggerFor]="menu" class="more-button" (click)="menuOpen = true">
        <img *ngIf="!menuOpen" src="../../../../../../assets/images/more_one.png" width="25px">
        <img *ngIf="menuOpen" src="../../../../../../assets/images/menu_dots.png" width="30px">
      </button>
      <mat-menu #menu="matMenu" (closed)="menuOpen = false">
        <a mat-menu-item class="psg-menu-item" [href]="nextGenLink" (click)="nextGenExtract()">NextGen Extract</a>
        <a mat-menu-item class="psg-menu-item" [href]="projectScopeLink" (click)="projectScpoeDocument()">Project Scope
          Document</a>
        <!-- <a mat-menu-item class="psg-menu-item" routerLink="/project/timeline">Generate Timeline</a> -->
      </mat-menu>
    </div>
    <div class="text-block">
      Project Scope Generator
    </div>
    <div class="desc-block">
      Welcome to the project scope generator. Add additional project information in the steps below to download an
      in-depth
      project scope deliverable. Just need the basics? Click the “Project scope” button on the right at any time in the
      process to download a project with the information you have already added.

      <div class="text-block" *ngIf="allPsgSavedData?.projectType" style="font-size: 16px;">
        {{allPsgSavedData?.projectType[0]?.projectName}}
      </div>

      <div class="left-train">
        <div class="icon-class" *ngFor="let phase of formSegment,let i=index"
          [ngClass]="{'active': currentPitStop?.label == phase.label || formSegment[i].crossed}"
          (click)="pitClicked(phase)">
          <div *ngIf="i!=0" class="left-step-line-div">
            <hr class="step-line"
              [ngStyle]="{'color': currentPitStop?.label==phase.label || formSegment[i].crossed ?'rgb(0,118,128,1)':'rgb(117,120,123,1)'}" />
          </div>
          <div class="circle1">
            <span *ngIf="!formSegment[i].crossed" [ngStyle]="{'margin-left':i!=0?'-6px':'0'}">{{ i+1 }}</span>
            <mat-icon [ngStyle]="{'margin-left':i!=0?'-6px':'0'}" style="line-height: 1.3;"
              *ngIf="formSegment[i].crossed">done</mat-icon>
          </div>
          <div *ngIf="i != formSegment.length - 1" class="right-step-line-div">
            <hr class="step-line"
              [ngStyle]="{'color':currentPitStop?.label==phase.label || formSegment[i].crossed ?'rgb(0,118,128,1)':'rgb(117,120,123,1)'}" />
          </div>
          <div class="circle1-label" [ngClass]="{'active-text': currentPitStop?.label == phase.label}">
            <span class="required-asterisk" *ngIf="phase?.required">*</span>
            {{phase.label}}
          </div>
        </div>
      </div>
      <!--class="main-form-stepper"-->

      <div class="right-scope-body">
        <div class="stepper-header">
          <div class="circle">
            <span>{{getStopNumber()}}</span>
          </div>
          <div class="circle-div">
            <span style="margin-left: 10px;">{{currentPitStop?.label}}</span>
          </div>
        </div>
        <div class="right-scope-wrapper" [class.review_screen]="currentPitStop?.label === REVIEW_TYPE">
          <app-scope-generator #form1 (next)="onNextPit($event)" (onInternalPitClick)="onInternalPitClick($event)"
            *ngIf="currentPitStop?.label === TYPE_OF_PROJECT_TYPE && allPsgData"
            [savedProjectType]="allPsgSavedData?.projectType ? allPsgSavedData?.projectType[0]:null"
            [projectType]="allPsgData"></app-scope-generator>
          <app-scopes #form1 (next)="onNextPit($event)" (prev)="onPrevPit($event)"
            (onInternalPitClick)="onInternalPitClick($event)"
            *ngIf="currentPitStop?.label === GENERAL_SCOPE && allPsgData"
            [savedScopePitData]="allPsgSavedData?.scopes ? allPsgSavedData?.scopes[0]:null"
            [scopePitOptionsData]="allPsgData">
          </app-scopes>
          <app-technology-scope #form1 (next)="onNextPit($event)" (prev)="onPrevPit($event)"
            (onInternalPitClick)="onInternalPitClick($event)"
            *ngIf="currentPitStop?.label === TECHNICAL_SCOPE && allPsgData"
            [savedTechnologyScopePitData]="allPsgSavedData?.technicalScope? allPsgSavedData?.technicalScope[0]:null"
            [savedSystemScopeData]="allPsgSavedData?.scopes ? allPsgSavedData?.scopes[0]?.systemScope[0]?.system: null"
            [technologyScopePitOptionsData]="allPsgData">
          </app-technology-scope>
          <app-implementation-approach-form
            *ngIf="currentPitStop?.label === IMPLEMENTATION_APPROACH_TYPE && allPsgSavedData?.implementationApproach && allPsgData?.implementationApproach"
            (next)="onNextPit($event)" (prev)="onPrevPit($event)"
            [formData]="allPsgSavedData?.implementationApproach ? allPsgSavedData?.implementationApproach[0] : null"
            [formOptions]="allPsgData?.implementationApproach[0]" #form1>
          </app-implementation-approach-form>
          <app-phase-planning-form [phasePlanning]="allPsgData?.phasePlanning[0]"
            [savedPhasePlanning]="allPsgSavedData?.phasePlanning"
            *ngIf="currentPitStop?.label === PHASE_PLANNING_TYPE && allPsgData?.phasePlanning && allPsgSavedData?.phasePlanning"
            (next)="onNextPit($event)" (prev)="onPrevPit($event)" #form1></app-phase-planning-form>
          <app-assumptions [allData]="allPsgData?.assumptions"
            [savedData]="allPsgSavedData?.assumptions? allPsgSavedData?.assumptions[0].assumption:null"
            *ngIf="currentPitStop?.label === ASSUMPTIONS_TYPE && allPsgData?.assumptions" (next)="onNextPit($event)"
            (prev)="onPrevPit($event)" #form1></app-assumptions>
          <app-scope-review [allPsgSavedData]="allPsgSavedData"
            *ngIf="currentPitStop?.label === REVIEW_TYPE && allPsgSavedData" (next)="onNextPit($event)"
            (prev)="onPrevPit($event)" #form1>
          </app-scope-review>
        </div>
      </div>
      <!-- <div class="additional-strip bottom">
        <div></div>
        <div></div>
      </div> -->
      <div class="right-stpper-nav">
        <div class="right-stepper-action">
          <button class="btn-prev" *ngIf="prevButton" (click)="prevClicked()"> Prev </button>
          <!-- <button class="btn-prev" *ngIf="step==0" (click)="goBack()"> Cancel </button> -->
          <button *ngIf="currentPitStop != formSegment[formSegment.length - 1]" class="btn-next"
            (click)="nextClicked()">
            {{nextLabel}}
          </button>
          <button class="btn-next" (click)="showPopup()"
            *ngIf="currentPitStop == formSegment[formSegment.length - 1]">Generate scope</button>
        </div>
      </div>
    </div>
  </div>
</div>
