<div class="amplifier-container">
    <div class="amplifier-left">
      <div class="amplifier-filters">
        <span class="title">Filter by</span>
        <div *ngFor="let filter of constructedFilter?.childs">
          <app-marketplacesolutions-filter [filter]="filter" [expanded]="!!(filter.childs.length<=5)">
            <ng-container filters *ngFor="let filterChild of filter.childs">
  
              <mat-checkbox *ngIf="filterChild?.childs.length == 0" class="filter-value"
                (change)="filterChangedEvent($event,filterChild.id)">
                {{filterChild.filter_category}}
              </mat-checkbox>
  
              <app-marketplacesolutions-filter *ngIf="filterChild?.childs.length > 0" [filter]="filterChild" [expanded]="!!false">
                <ng-container filters>
                  <mat-checkbox class="filter-value" (change)="filterChangedEvent($event,momentum.id)"
                    *ngFor="let momentum of filterChild.childs">
                    {{momentum.filter_category}}
                  </mat-checkbox>
                </ng-container>
              </app-marketplacesolutions-filter>
  
            </ng-container>
          </app-marketplacesolutions-filter>
        </div>
      </div>
    </div>
    <div class="amplifier-right">
      <app-marketplacesolutions-tools [tools]="filteredTools"></app-marketplacesolutions-tools>
    </div>
  </div>
  
