svg{
    padding-top: 5rem;
}
#validate_off:hover{
    display:none;
}
#validate_off:hover + #validate_on{
    display:block;
}
#validate_on:hover{
  display:block;
  cursor: pointer;
}
#sprint_off:hover{
    display:none;
}
#sprint_off:hover + #sprint_on{
    display:block;
}
#sprint_on:hover{
  display: block;
  cursor: pointer;
}
#activate_off:hover{
    display:none;
}
#activate_off:hover + #activate_on{
    display:block;
}
#activate_on:hover{
  display:block;
  cursor: pointer;
}
 #deploy_off:hover{
    display:none;
}
#deploy_off:hover + #deploy_on{
    display:block;
}
#deploy_on:hover{
  display:block;
  cursor: pointer;
}
