<!-- <p>technology-scope works!</p> -->
<div class="create-edit-page-wrapper">
  <!-- <div style="font-weight: bold; border-bottom: solid 1px; line-height:3; text-align: center">
      Engagement details
    </div> -->
  <div class="form-wrapper">
    <app-scope-generator-stepper [pits]="formSegment" (pitClicked)="nextClicked($event)"></app-scope-generator-stepper>

    <!--<div class="form-contaner" *ngIf="formData">-->
    <div class="form-contaner">
      <!-- <div class="form-info">
        <span>Required fields are denoted by an asterisk (<span class="required-asterisk">*</span>).</span>
      </div> -->
      <!-- <h1>{{currentPitStop.label}}:{{CONVERSION_DESCRIPTION_TYPE}}</h1> -->

      <!-- CLIENT DETAILS -->
      <!-- <app-client-description #form *ngIf="currentPitStop.label === CLIENT_DESCRIPTION_TYPE" [@enterAnimation]
          [formData]="formData" [formOptions]="projectType?.clientDetails[0]" [isEditable]="formData?.isEdit"
          (next)="onNextPit($event)"></app-client-description> -->

      <app-technology #form *ngIf="currentPitStop.label === CONVERSION_SCOPE" [@enterAnimation]
        (next)="onNextPit($event)" (prev)="onPrevPit($event)" [tabName]="currentPitStop.label" [treeLevel]="treeLevel"
        [allData]="getTreeData(currentPitStop.label)" [savedData]="getSelectedData(currentPitStop.label)"
        [inputAdditionalData]="treeSavedSystemScopeData"></app-technology>

      <app-technology #form *ngIf="currentPitStop.label === REPORTS_SCOPE" [@enterAnimation] (next)="onNextPit($event)"
        (prev)="onPrevPit($event)" [tabName]="currentPitStop.label" [treeLevel]="treeLevel"
        [allData]="getTreeData(currentPitStop.label)" [savedData]="getSelectedData(currentPitStop.label)">
      </app-technology>

      <app-technology #form *ngIf="currentPitStop.label === INTERFACES_SCOPE" [@enterAnimation]
        (next)="onNextPit($event)" (prev)="onPrevPit($event)" [tabName]="currentPitStop.label" [treeLevel]="treeLevel"
        [allData]="getTreeData(currentPitStop.label)" [savedData]="getSelectedData(currentPitStop.label)"
        [inputAdditionalData]="treeSavedSystemScopeData"></app-technology>

      <app-technology #form *ngIf="currentPitStop.label === EXTENSION_SCOPE" [@enterAnimation]
        (next)="onNextPit($event)" (prev)="onPrevPit($event)" [tabName]="currentPitStop.label" [treeLevel]="treeLevel"
        [allData]="getTreeData(currentPitStop.label)" [savedData]="getSelectedData(currentPitStop.label)">
      </app-technology>

      <!-- PROJECT DETAILS -->
      <!-- <app-project-description #form *ngIf="currentPitStop.label === PROJECT_DESCRIPTION_TYPE" [@enterAnimation]
          [formData]="formData" [formOptions]="projectType?.projectDetails[0]" [isEditable]="formData?.isEdit"
          (next)="onNextPit($event)" (prev)="onPrevPit($event)"></app-project-description> -->

      <!-- SCOPE DETAILS -->
      <!-- <app-scope-description #form *ngIf="currentPitStop.label === SCOPE_DESCRIPTION_TYPE" [@enterAnimation]
          [formData]="formData" [formOptions]="projectType?.scopeDetails[0]" [isEditable]="formData?.isEdit"
          (onSubmitForm)="submit($event)" (prev)="onPrevPit($event)">
        </app-scope-description> -->

    </div>
  </div>
</div>