.form-info {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2em;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 1.5em;
  margin-left: 1%;
}
