<!-- <div style="font-weight: bold; border-bottom: solid 1px; line-height:3; text-align: center">
  Implementation approach
</div> -->
<form #implApproachForm="ngForm" (submit)="onNext()" class="project-add-edit-form-wrapper">
  <div>
    <div class="form-info">
      <span>Required fields are denoted by an asterisk (<span class="required-asterisk">*</span>).</span>
    </div>
    <mat-label><span class="required-asterisk">*</span> Implementation Approach:</mat-label>
    <mat-radio-group class="phase-option" required [(ngModel)]="formData.implementationApproach"
      name="implementationApproach" #implementationApproach="ngModel" (change)="radioBtnChanged($event)">
      <mat-radio-button style="margin: 0.5em;" *ngFor="let item of formOptions?.implementationApproach" [value]="item">
        {{item}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="showError && implementationApproach?.errors?.required">
      implementation Approach is required
    </mat-error>
  </div>

  <br />

  <div *ngIf="formData?.phaseDetails?.length > 0">
    <div *ngIf="formData?.implementationApproach == PHASED">
      Number of phases:
      <mat-form-field appearance="outline" floatLabel="never" style="width: 50%;">
        <input required matInput type="number" min='1' name="phaseCount" [(ngModel)]="formData.phaseCount"
          #phaseCount="ngModel" (change)="addPhase()">        
      </mat-form-field>
      <mat-error *ngIf="phaseCount.invalid && phaseCount?.errors?.required">
        Number of phases is required
      </mat-error>
    </div>

    <div *ngFor="let phase of formData.phaseDetails; let i = index;" class="phase-element-body">
      <div class="phase-form-head">
        <div class="phase-form-title">
          Phase {{i+1}}
        </div>
        <div class="phase-form-actions">

          <img class="img-control" src="../../../../../../assets/images/maximize.png"
            (click)="changeView(maximize,minimize)" #maximize>
          <img class="img-control visible" src="../../../../../../assets/images/minimize.png"
            (click)="changeView(maximize,minimize)" #minimize>
          <img src="../../../../../../assets/ProjectDeleteLogo.png" (click)="removePhase(i)">
        </div>
      </div>
      <ng-container *ngIf="minimize?.classList?.contains('visible')">
        <div class="phase-field">
          <mat-label><span class="required-asterisk">*</span> Phase Name</mat-label>
          <mat-form-field appearance="outline" floatLabel="never">
            <input required matInput type="text" [name]="'phaseName'+i" [(ngModel)]="phase.phaseName"> 
            <mat-error *ngIf="showError && (!phase.phaseName)"> Phase name is required</mat-error>           
          </mat-form-field>          
        </div>
        <div class="phase-field">
          <mat-label><span class="required-asterisk">*</span> Start Date</mat-label>
          <mat-form-field appearance="outline" floatLabel="never">
            <input required matInput [matDatepicker]="startPicker" [name]="'startDate'+i" [(ngModel)]="phase.startDate">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>            
          </mat-form-field>
          <mat-error *ngIf="showError && (!phase.startDate)">Start date is required</mat-error>
        </div>
        <div class="phase-field">
          <mat-label><span class="required-asterisk">*</span> End Date</mat-label>
          <mat-form-field appearance="outline" floatLabel="never">
            <input required [matDatepicker]="endPicker" matInput [name]="'endDate'+i" [(ngModel)]="phase.endDate">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>            
          </mat-form-field>
          <mat-error *ngIf="showError && (!phase.endDate)">End date is required</mat-error>
        </div>
      </ng-container>
    </div>
  </div>
</form>
