<mat-menu backdropClass="mat-menu-custom" class="mat-menu-custom">
  <div class="mega-menu-container">
    <img class="rectangle" src="../../assets/bottom_color.png" />
    <div class="mega-menu-wrapper">
      <img class="img-align" src="../../../../assets/about_round_image.png" width="170px" />

      <div class="sub-container" *ngFor="let category of megaMenuOptions">
        <div [ngClass]="{'support-align': category.categoryName == 'Support'}">
          <div class="head">
            {{category.categoryName}}
          </div>
          <div class="body" *ngFor="let options of category.categoryOptions">
            <a class="path-style" *ngIf="options.path" (click)="navigate(navigateNewTab, options.path)">{{options.option}}</a>
            <span class="span-style" *ngIf="options.route && options.option!='Explore Ascend'"
              (click)="navigate(navigateSameTab, options.route)">{{options.option}}</span>
            <span class="span-style" *ngIf="options.route && options.option=='Explore Ascend'"
              (click)="navigate(enterExploreMode, options.route)">{{options.option}}</span>
            <span class="disabled" *ngIf="!options.route && !options.path">{{options.option}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-menu>