@import 'src/assets/styles/app.scss';
 .activity-flex {
     display: flex;
     max-height: 18.75rem;
     min-height: 18.75rem;
}
 .activity-flex-inline {
     width: 100%;
     padding-bottom: 0;
}
 .activity-flex-inline-1 {
     margin-bottom: 2.45rem;
}
 .activity-caption {
     margin-bottom: $space-xs;
     font-size: $text-md;
     font-weight: bold;
     color: $secondary-font-color;
}
 owl-carousel-o {
     width: 100% !important;
}
 .idr {
     font-size: 0.8775rem;
     padding-top:1rem;
}
 .idr-desc {
     padding-top: 4rem;
     padding-bottom: 0.4rem;
     font-size: 0.8775rem;
     color:$quaternary-font-color;
}
 .card-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 1rem;
}
 a{
     align-items: flex-start;
     cursor: default;
}
 .box {
     @include media_query('desktop-width-1921', 'max') {
         max-width: 28rem;
         height: 44.5rem;
    }
     @include media_query('desktop-width-1601', 'max') {
         max-width: 24rem;
         height: 40.5rem;
    }
     @include media_query('desktop-width-1536', 'max') {
         max-width: 22rem;
    }
     @include media_query('desktop-width-1366', 'max') {
         max-width: 20rem;
    }
     @include media_query('desktop-width-1098', 'max') {
         max-width: 16rem;
    }
     @include media_query('desktop-width-855', 'max') {
         max-width: 14rem;
    }
     max-width: 24rem;
     box-sizing: content-box;
     height: 40.5rem;
     padding: 1.875rem;
     border-style: solid;
     border-width: 2px;
     border-color: $container-box-background;
     background: $palette-white-100;
     border-top-width: 10px;
     border-left-style: hidden;
     border-right-style: hidden;
     box-shadow: 0 2px 10px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
 .image{
     padding-top:4rem;
}
 .box-insights {
     @extend .box;
     border-top-color: $primary-themecolor-insights;
}
 .box-imagine {
     @extend .box;
     border-top-color: $primary-themecolor-imagine;
}
 .box-deliver {
     @extend .box;
     border-top-color: $primary-themecolor-deliver;
}
 .box-run {
     @extend .box;
     border-top-color: $primary-themecolor-run;
}
 #arch-img:hover {
     opacity: 0.2;
}
 .dot{
     height: 9.75rem;
     width: 9.75rem;
     padding: -10%;
     border-bottom-right-radius: 80%;
     opacity: 15%;
     margin: -30px;
     position: absolute;
}
 .insights-dot {
     @extend .dot;
     background-color: $primary-themecolor-insights;
}
 .imagine-dot {
     @extend .dot;
     background-color: $primary-themecolor-imagine;
}
 .deliver-dot {
     @extend .dot;
     background-color: $primary-themecolor-deliver;
}
 .run-dot {
     @extend .dot;
     background-color: $primary-themecolor-run;
}
 .container_underline{
     width: 2.377rem;
     margin: 0rem;
}
 .container_desc_underline{
     margin:0rem;
     width: 2.377rem;
}
 svg{
     padding-top: 5rem;
}
 .insights-underline {
     @extend .container_underline;
     border:3px solid $primary-themecolor-insights;
}
 .insights-desc-underline {
     @extend .container_desc_underline;
     border:3px solid $primary-themecolor-insights;
}
 .imagine-underline {
     @extend .container_underline;
     border:3px solid $primary-themecolor-imagine;
}
 .imagine-desc-underline {
     @extend .container_desc_underline;
     border:3px solid $primary-themecolor-imagine;
}
 .deliver-underline {
     @extend .container_underline;
     border:3px solid $primary-themecolor-deliver;
}
 .deliver-desc-underline {
     @extend .container_desc_underline;
     border:3px solid $primary-themecolor-deliver;
}
 .run-underline {
     @extend .container_underline;
     border:3px solid $primary-themecolor-run;
}
 .run-desc-underline {
     @extend .container_desc_underline;
     border:3px solid $primary-themecolor-run;
}

