<form #scopeForm="ngForm" (submit)="onNext()" class="project-add-edit-form-wrapper">
  <!-- <div class="form-scroller"> -->
  <div style="width: 97%">
    <div class="field-wrapper">
      <div class="field">
        <mat-label><span class="required-asterisk">*</span> ERP package</mat-label>
        <mat-form-field class="custom-width" appearance="outline" floatLabel="never">
          <mat-select required name="erpPackage" [(ngModel)]="formData.erpPackage" #erpPackage='ngModel'>
            <mat-option *ngFor="let erpPackage of formOptions?.erpPackage" [value]="erpPackage">{{erpPackage}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="showError && erpPackage?.errors?.required">
          ERP package is required.
        </mat-error>
      </div>
      <div class="field">
        <mat-label> <span class="required-asterisk"></span>Additional ERP package</mat-label>
        <mat-form-field class="custom-width" appearance="outline" floatLabel="never">
          <mat-select [(ngModel)]="formData.additionalErpPackage" name="additionalErpPackage"
            #additionalErpPackage="ngModel" multiple>
            <mat-option *ngFor="let additionalErpPackage of formOptions?.additionalErpPackage"
              [value]="additionalErpPackage">{{additionalErpPackage}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="field-wrapper">
      <div class="field">
        <mat-label><span class="required-asterisk">*</span> Integration platform</mat-label>
        <mat-form-field class="custom-width" appearance="outline" floatLabel="never">
          <mat-select [(ngModel)]="formData.integrationPlatform" name="integrationPlatform"
            #integrationPlatform="ngModel" required multiple>
            <mat-option *ngFor="let integPltfrm of formOptions?.integrationPlatform" [value]="integPltfrm">
              {{integPltfrm}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="showError && integrationPlatform?.errors?.required">
          Integration platform is required.
        </mat-error>
      </div>
      <div class="field">
        <mat-label><span class="required-asterisk">*</span> Extensions</mat-label>
        <mat-form-field class="custom-width" appearance="outline" floatLabel="never">
          <mat-select [(ngModel)]="formData.extensions" name="scopeExtentions" #extensions="ngModel" multiple required>
            <mat-option *ngFor="let extensions of formOptions?.extensions" [value]="extensions">{{extensions}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="showError && extensions?.errors?.required">
          Extensions is required.
        </mat-error>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!-- <div>
    <table>
        <thead style="text-align: center;background-color: rgb(190, 190, 190);">
            <tr>
                <th> Service Scope</th>
                <th>Deloitte Scope</th>
                <th> client Scope</th>
                <th> Complexity</th>
            </tr>
        </thead>
        <tbody class="scroll-table">
            <ng-container *ngFor="let data of serviceScope">
                <tr>
                    <td> {{ data.name }} </td>
                    <td>
                        <mat-form-field>
                            <mat-select [(value)]="data.deloitteScope">
                                <mat-option *ngFor="let dScope of scopeListValues" [value]="dScope">
                                    {{ dScope }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select [(value)]="data.clientScope">
                                <mat-option *ngFor="let cScope of scopeListValues" [value]="cScope">
                                    {{ cScope }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field>
                            <mat-select [(value)]="data.complexity">
                                <mat-option *ngFor="let cValue of complexityValues" [value]="cValue">
                                    {{ cValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </ng-container>
            <button style="color: white;background-color: rgb(0, 85, 135);" (click)="getServicesData()">Get
                Services</button>
        </tbody>
    </table>
</div> -->
</form>