<div class="amplifier-container">
  <div class="amplifier-left">
    <div class="amplifier-filters">
      <span class="title">Filter by</span>
      <div *ngFor="let filter of constructedFilter?.childs">
        <app-marketplace-filter [filter]="filter" [expanded]="!!(filter.childs.length<=5)">
          <ng-container filters *ngFor="let filterChild of filter.childs">

            <mat-checkbox *ngIf="filterChild?.childs.length == 0" class="filter-value"
              (change)="filterChangedEvent($event,filterChild.id)" [disabled]="getDisabledState(filterChild.id)" [checked]="getCheckedState(filterChild.id)">
              {{filterChild.filter_category}}
            </mat-checkbox>

            <app-marketplace-filter *ngIf="filterChild?.childs.length > 0" [filter]="filterChild" [expanded]="!!false">
              <ng-container filters>
                <mat-checkbox class="filter-value" (change)="filterChangedEvent($event,momentum.id)"
                  *ngFor="let momentum of filterChild.childs" [disabled]="getDisabledState(momentum.id)" [checked]="getCheckedState(momentum.id)">
                  {{momentum.filter_category}}
                </mat-checkbox>
              </ng-container>
            </app-marketplace-filter>

          </ng-container>
        </app-marketplace-filter>
      </div>
    </div>
  </div>
  <div class="amplifier-right">
    <app-marketplace-tools [tools]="filteredTools"></app-marketplace-tools>
  </div>
</div>
