<div>
  <!-- <p style="text-align:left">MarketPlace Solutions</p> -->
  <img src="../../../../../assets/images/amplifiers/market-solution-logo.png" class="title">
    <input class="search-box" type="text" placeholder="Search for a solution" [formControl]="myControl">
  </div>

  <div class="amplifier-desc">
    {{description}}
  </div>

  <div class="content">
    <mat-grid-list cols="4" rowHeight="370px">
      <mat-grid-tile *ngFor="let tool of filtererdTools">
        <div class="tool" (click)="openToolsbarPopup(tool)" >
          <div class="tool-icon">
            <img *ngIf="tool.solutionIcon" src="{{'../../../../../assets/images/amplifiers/' + tool.solutionIcon}}">
          </div>
          <div class="tool-title">
            {{tool.solutionName}}
          </div>

          <div class="tool-description">
            {{tool.solutionDescription}}
          </div>
          <span class="more">show more...</span>
          <div class="tool-button">
            <!-- [disabled]="projectGlobalInfo.viewMode == 'EXPLORE'" -->
            <!-- [ngClass]="{'disabled':projectGlobalInfo.viewMode == 'EXPLORE', 'enabled':projectGlobalInfo.viewMode == 'PROJECT'}" -->
            <button [disabled]="projectGlobalInfo.viewMode == 'EXPLORE' || projectGlobalInfo.viewMode == 'PROJECT'" *ngIf="tool.viewApplicable == 'Y'"
              [ngClass]="{'disabled':projectGlobalInfo.viewMode == 'EXPLORE', 'disabled':projectGlobalInfo.viewMode == 'PROJECT'}"
              mat-button (click)="openLink(tool.viewURL)">View</button>

          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
