<!-- <div class="tool-popup-wrapper"> -->
<div class="multicolor-band">
  <img class="rectangle" src="../../assets/bottom_color.png" />
</div>
<div class="close">
  <img (click)="closePopup()" src="../../../../assets/cross-neg@3x.png" width="35px" />
</div>
<div class="header">
  <div class="header-body">
    {{data.toolName}}
  </div>
  <div class="header-body">
    <div class="actions">
      <button [disabled]="projectGlobalInfo.viewMode == 'EXPLORE'" mat-raised-button
        [ngClass]="{'disabled':projectGlobalInfo.viewMode == 'EXPLORE', 'black':projectGlobalInfo.viewMode == 'PROJECT'}"
        (click)="launchTool(data.toolLaunchLink)" id="3" *ngIf="!!(data.toolLaunchLink)">Launch tool</button>
      <button [disabled]="projectGlobalInfo.viewMode == 'EXPLORE'"
        [ngClass]="{'disabled':projectGlobalInfo.viewMode == 'EXPLORE', 'black':projectGlobalInfo.viewMode == 'PROJECT'}"
        mat-raised-button class="black" *ngIf="!!(data.toolDownloadLink)" (click)="launchTool(data.toolDownloadLink)"
        id="2">Download</button>
    </div>
  </div>
</div>
<div class="body" *ngFor="let content of toolsbarPopupData">
  <div class="body-container">
    <div class="body-subcontainer">
      <app-problem [statementData]="content.problemStatement" [descData]="content.description">
      </app-problem>
    </div>
    <div class="body-subcontainer">
      <app-tech-stack [techstackData]="content.techStack"></app-tech-stack>
    </div>
  </div>
  <div class="body-container">
    <div class="body-subcontainer">
      <app-impact [impactData]="content.impact"></app-impact>
    </div>
    <div class="body-subcontainer">
      <app-documentation [docData]="content.documentation"></app-documentation>
    </div>
  </div>
</div>
<!-- <div mat-dialog-actions>
    <button mat-raised-button class="white" (click)="closePopup()" id="2">Close</button>
    <button mat-raised-button class="black" (click)="launchTool()" id="3">Launch tool</button>
  </div> -->

<!-- </div> -->
