<div class="right-layout-wrapper">
  <div class="feature-title">
    {{ title }}
    <img class="info-popup-icon" (click)="infoPopupHandler()" src="../../../../../assets/images/info.png" />
  </div>

  <div id="secondRightContainer" [ngClass]="{
            'second-right-container-small': shrink,
            'second-right-container-large': !shrink
        }">
    <ng-content select="[top]"></ng-content>
  </div>

  <div id="bottomContainer" [ngClass]="{
            'bottom-container-small': shrink,
            'bottom-container-large': !shrink
        }">
    <ng-content select="[bottom]"></ng-content>
  </div>
</div>
