.right-layout-wrapper {

  .feature-title {
    height: 33px;
    font-size: 1.5em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding: 1em 1.25em 1em;
  }
  .info-popup-icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
}
