<form #clientForm="ngForm" (ngSubmit)="submit(clientForm)" class="project-add-edit-form-wrapper">
  <!-- <div class="form-scroller"> -->
  <div style="width: 97%">
    <div class="field-wrapper">
      <div class="field">
        <mat-label><span class="required-asterisk">*</span> Name of the client</mat-label>
        <mat-form-field class="custom-width" appearance="outline" floatLabel="never">
          <input matInput [(ngModel)]="formData.clientName" [disabled]="isEditable" name="clientName"
            #clientName='ngModel' required>
        </mat-form-field>
        <mat-error *ngIf="showError && clientName?.errors?.required">
          Client name is required.
        </mat-error>
      </div>
      <div class="field">
        <mat-label><span class="required-asterisk"></span> Client Group</mat-label>
        <mat-form-field class="custom-width" appearance="outline" floatLabel="never">
          <input matInput [(ngModel)]="formData.clientGroup" #clientGroup='ngModel' name="clientGroup">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-label><span class="required-asterisk">*</span> Size of the client (in Dollars) </mat-label>
        <mat-form-field class="custom-width" appearance="outline" floatLabel="never">
          <mat-select required name="revenue" [(ngModel)]="formData.revenue" #revenue='ngModel'>
            <mat-option *ngFor="let revenue of formOptions?.companyRevenue" [value]="revenue">{{revenue}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="showError && revenue?.errors?.required">
          Size of the client is required.
        </mat-error>
      </div>
    </div>
    <div class="field-wrapper">
      <div class="field depedent-dd">
        <mat-label><span class="required-asterisk">*</span> Industry</mat-label>
      </div>
      <div class="field depedent-dd">
        <mat-label><span class="required-asterisk">*</span> Sector </mat-label>
      </div>
    </div>
    <div class="multi-select-div-wrapper">
      <div class="multi-select-div client-checkbox-font" [ngClass]="{
            'multi-select-error-div': (showError && (!formData.industry?.length||!formData.sector?.length)||
            showError && formData.industry?.length && formData.sector?.length && !(industrySectorCombination())
            )
          }">
        <div class="multi-select-div-column">
          <!-- <mat-label><span class="required-asterisk">*</span> Industry</mat-label> -->
          <div *ngFor="let industryList of formOptions?.industrySector">
            <mat-checkbox class="example-margin" required [checked]="getIndustriesState(industryList.industry)"
              (change)="industriesChanged($event.checked,industryList.industry)">
              {{industryList.industry}}
            </mat-checkbox>
          </div>
        </div>
        <div class="multi-select-div-column">
          <!-- <mat-label><span class="required-asterisk">*</span> Sector</mat-label> -->
          <div *ngFor="let indSector of formOptions?.sector">
            <mat-checkbox class="example-margin" required [checked]="getSectorState(indSector)"
              (change)="sectorChange($event.checked,indSector)">
              {{indSector}}
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div class="form-error">
        <mat-error *ngIf="showError && (!formData.industry?.length||!formData.sector?.length)">
          Industry and sector is required.
        </mat-error>
      </div>
      <div class="form-error" *ngIf="showError && formData.industry?.length && formData.sector?.length">
        <mat-error *ngIf="!(industrySectorCombination())">
          For some of the selected industries , sector is not selected.
        </mat-error>
      </div>
    </div>

    <!-- <div class="action-button-wrapper">
      <button class="btn-secondary" type="button" (click)="goBack()"> Cancel </button>
      <button class="btn-primary" type="submit"> Next </button>
    </div> -->
  </div>
  <!-- </div> -->

</form>